/**
* Media Query Definitons
* @Author: Rafael
* @Desc: Generating our media-query mixin's based off Twitter Boostrap 3
*
* Values:
* $screen-xs-min = 480px 
* $screen-sm-min = 768px
* $screen-md-min = 992px
* $screen-lg-min = 1200px
*/


@mixin breakpoint($mq-value) {

	/* Mobile Phones -- 320px and up */
	@if $mq-value == sm-phone-and-up {
		@media only screen and (min-width: 321px) {
			@content;
		}
	}

	/* Mobile Phones -- 480px and up */
	@if $mq-value == phone-and-up {
		@media only screen and (min-width: $screen-xs-min) {
			@content;
		}
	}

	/* Tablets -- 768px and up */
	@if $mq-value == tablet-and-up {
		@media only screen and (min-width: $screen-sm-min) {
			@content;
		}
	}

	/* Tablets-Landcape & Laptops -- 992px and up */
	@if $mq-value == laptop-and-up {
		@media only screen and (min-width: $screen-md-min) {
			@content;
		}
	}

	/* Desktop -- 1200px and up */
	@if $mq-value == desktop-and-up {
		@media only screen and (min-width: $screen-lg-min) {
			@content;
		}
	}

	/* Styles to be applied only between to break points */
	@if $mq-value == laptop-desktop {
		@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
			@content;
		}
	}

	/* Styles to be applied only between mobile and tablet, used to cover phone-landscape */
	@if $mq-value == phone-landscape {
		@media only screen and (min-width: 320px) and (max-width: 640px) {
			@content;
		}
	}

}