// Typography
// -------------------------

$font-lato:  "Lato", Helvetica, Arial, sans-serif !default;
$font-montserrat:  "Montserrat", Helvetica, Arial, sans-serif !default;
$font-oaShopIcon:  "oaShopIcon", Helvetica, Arial, sans-serif !default;

/* OA Shop -- Global Rules
*******************************************************/
/* Colors
*******************************************************/
$cit-gr: #99a700;
$cor-gr: #454f48;
$kel-gr: #40a80b;
$ske-gr: #a4bdac;
$tan-gr: #e39b00;
$sca-re: #f4140b;
$lig-gr: #cccccc;
$whi-sm: #f2f2f2;
$scarlet-red: #f4140b;
$tangerine-orange: #e39b00;
$kelly-green: #40a80b;


/* Body 
*******************************************************/
//$body-bg: #fff !default;
$body-bg: #f2f2f2 !default;
$text-color: #333333 !default;

/* Header
*******************************************************/
$mobile-bg-color: #99a700 !default;
$desktop-bg-color: #454f48 !default;

/* Links
*******************************************************/
$link-color:        #40A80B !default;
$link-hover-color:  darken($link-color, 15%) !default;

/* Headings -- see Bootstrap/Variables
*******************************************************/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-montserrat;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

/* Breadcrumbs
*******************************************************/
$breadcrumb-bg:           #f5f5f5 !default;
$breadcrumb-color:        #ccc !default;
$breadcrumb-active-color: $gray-light !default;
$breadcrumb-separator:    "/" !default;

/* Forms
*******************************************************/
$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border:                   #ccc !default;
$input-border-radius:            $border-radius-base !default;
$input-border-focus:             #66afe9 !default;

$input-color-placeholder:        $gray-light !default;

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

$input-group-addon-bg:           $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;

$skeptic-green:                  #a4bdac; /* Pale Green Button */
$kelly-green:                    #40a80b; /* Dark Green Button */

/* Scaffolding
*******************************************************
*******************************************************/
// Reset the box-sizing
*,
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-lato;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
}


// Links
 a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: none;
  }

  &:focus {
    @include tab-focus();
  }
}


// Images
img {
  vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  @include img-responsive();
}

// Rounded corners
.img-rounded {
  border-radius: $border-radius-large;
}

// Perfect circle
.img-circle {
  border-radius: 50%; // set radius in percents
}

// Horizontal rules
hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}

// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

// Only when mobile navigation is active
body {
  @include transition(background-color 0.4s ease);

  &.mobile-menu-active {
    background-color: rgba(5,5,5,.9);
  }
}

//clearfix
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin oa-resp-wrapper() {
  @include container-fixed();

  @media (min-width: $screen-sm) {
    width: $container-sm;
  }
  @media (min-width: $screen-md) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}