<?php
/**
*
*		Product Carousel Widget Template
*   @author Mike Lee
*/
?>
<?php 
	$_coreHelper = $this->helper('core');
  $_weeeHelper = $this->helper('weee');
  $_taxHelper  = $this->helper('tax');
  $_savingsHelper = Mage::helper('displaypercentagesavings'); // Mike Lee - add savings 
	$_products = $this->getProducts();
	$_categoryTitle = $this->getTitle();
	$productCount = count($_products);
	$carousel_type = $this->getCarouselType();
?>
<?php if ($productCount > 0): ?>
<div class="carousel">
	<div class="title"><?php echo strtoupper($this->__("$_categoryTitle")); ?></div>
	<?php if($productCount > 0): ?>
	<div class="nav-container" id="<?php echo $carousel_type; ?>carousel-navigation">
		<div class="divider"></div>
		<div class="controls">
			<div class="arrow prev prev_<?php echo $carousel_type; ?>"></div> 
			<div class="arrow next next_<?php echo $carousel_type; ?>"></div>
		</div>
	</div>
<div class="carousel-holder product-carousel-<?php echo $carousel_type; ?> owl-carousel">
	<?php foreach($_products as $_product): ?>
  <div class="outer-item">

    <div class="featured-product-tags tags-lg">
      <div class="featured-product-tags-inner">
        <?php
          $price = number_format($_product->getPrice(), 2);
          $specialPrice = number_format($_product->getSpecialPrice(), 2);
          $finalPrice = $_product->getFinalPrice();
          $savings = $this->helper('displaypercentagesavings/data')->getPercentageSavings($price, $specialPrice);

          if ($savings > 0) {
            echo "<span class=\" product-tag tag-savings\">save " . $savings . "%</span>";
            echo "<span class=\"product-tag tag-sale\">sale</span>";
          }

          if ( $carousel_type == "new_" || $this->helper('masonrywidget/data')->isNew($_product) ) {
            echo "<span class=\"product-tag tag-new\">new</span>";
          }
        ?>
      </div>
    </div>

  	<div class="item">
  		<a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
  			<img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(246, 246); ?>" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
  		</a>
      <div class="product-data-wrapper">
        <div class="price-tag-img">
          <img src="<?php echo $this->getSkinUrl('img/long-price-tag.png'); ?>">
        </div>
        <div class="price-tag">
            <div class="price">
              <div class="price-inner">
                <span class="actual"><?php echo  $_coreHelper->currency($_product->getSpecialPrice(), true, false); ?></span>
                <span class="original">Reg. <?php echo $_coreHelper->currency($_product->getPrice(), true, false); ?></span>
              </div>
            </div>
            <div class="name-wrapper">
              <div class="name-inner">
                <?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?>
              </div>
            </div>
        </div>
      </div>
   	</div>
  </div>
<?php endforeach; ?>
<?php endif; ?>
</div>
<script type="text/javascript">
jQuery(document).ready(
  function () {
    'use strict';
    jQuery(".product-carousel-<?php echo $carousel_type; ?>").owlCarousel({
      ///Configuration Options
      items: 4, //4 items for 1201px and greater
      itemsDesktop : [1200, 3], //3 items betweem 769px and 1200px
      itemsDesktopSmall : [766, 2], //2 items between 481px and 768px
      itemsTablet: [480, 1], //1 item between 0px and 480px
      itemsMobile : false, // Inherit from tablet settings
      /*
      items: 4,
      itemsMobile: [480, 1],*/
      scrollPerPage: true //Forces navigation to go per page instead of per item
    });

    jQuery(".prev_<?php echo $carousel_type; ?>").click(function () {
      jQuery(".product-carousel-<?php echo $carousel_type; ?>").trigger('owl.prev');
    });

    jQuery(".next_<?php echo $carousel_type; ?>").click(function () {
      jQuery(".product-carousel-<?php echo $carousel_type; ?>").trigger('owl.next');
    });

    jQuery('.name-inner').dotdotdot({
      watch: true,
      height: 60
    });
  }
);
</script>
</div>
<?php endif; ?>