<section class="featured-products-masonry">
  <div class="featured-products-container">
    <?php
      $title = $this->getTitle();
      if ( !empty($title) ):
    ?>
      <h2 class="title"><?php echo $title; ?></h2>

    <?php endif; ?>
    <div class="featured-products-wrapper">
    <?php
      $products = $this->getProducts();
      $count = 0;

      foreach ($products as $product):
    ?>
      <a class="featured-product <?php if (!$count) echo 'first' ?>" href="<?php echo $product->getProductUrl() ?>">
        <div class="featured-product-inner">
          <div class="featured-product-tags <?php if (!$count) echo 'tags-lg' ?>">
            <div class="featured-product-tags-inner">
              <?php
                $price = number_format($product->getPrice(), 2);
                $specialPrice = number_format($product->getSpecialPrice(), 2);
                $savings = $this->helper('displaypercentagesavings/data')->getPercentageSavings($price, $specialPrice);

                if ($savings > 0) {
                  echo "<span class=\" product-tag tag-savings\">save " . $savings . "%</span>";
                  echo "<span class=\"product-tag tag-sale\">sale</span>";
                }

                if($this->helper('masonrywidget/data')->isNew($product)) {
                  echo "<span class=\"product-tag tag-new\">new</span>";
                }
              ?>
            </div>
          </div>

          <div class="featured-product-image">
            <div class="featured-product-image-inner">
              <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image') ?>">
            </div>
          </div>
          
          <div class="featured-product-info">
            <div class="featured-product-prices">
              <div class="price-tag-head">
                <img src="<?php echo $this->getSkinUrl('img/short-price-tag.png'); ?>">
              </div>
              <div class="price-tag-body">
                <div class="featured-product-price-sale">
                  <?php echo "$" . $specialPrice ?>
                </div>
                <div class="featured-product-price-regular">
                  <?php echo "Reg $" . $price ?>
                </div>
              </div>
            </div>
            <div class="featured-product-name">
              <?php echo $product->getName() ?>
            </div>
          </div>
        </div>
      </a><!--featired-product-->
    <?php
      $count ++;
      endforeach;
    ?>
    </div><!--featured-products-wrapper-->
  </div><!--featured-products-container-->

  <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/masonry.pkgd.min.js'); ?>"></script>
  <script type="text/javascript">
    var $j = jQuery.noConflict();

    $j( document ).ready(function() {
      'use strict';
      var container = document.querySelector('.featured-products-wrapper');
      var msnry = new Masonry( container, {
        // options
        columnWidth: '.featured-product',
        itemSelector: '.featured-product'
      });

          var hideProducts = function() {
            var viewportTester = $j('.featured-product.first');
            var targets = $j('.featured-product').slice(5);

            if (viewportTester.css('height') === "280px") {//check if in tablet!
              targets.addClass('hidden');
              
              $j('.featured-product-name').dotdotdot({
            watch: true,
            height: 20
            });
            }
        else {
          targets.removeClass('hidden');

          $j('.featured-product-name').dotdotdot({
            watch: true,
            height: 60
            });
        }

        msnry.layout();
          };

          //hide products if already in tablet view
          hideProducts();

      //check view port after orientation/window size change
      $j(window).on('resize', function() {
            hideProducts();
          });

        $j('.featured-product-name').dotdotdot({
        watch: true,
        height: 60
        });
    });
  </script>
</section>