/*

Notes on use, example:
.twitter-icon {
  @extend .icon
  @extend .icon-Twitter
}
*/
// IE8 Fix
@font-face {
  font-family: 'oaShopIcon';
  src: url('../scss/settings/fonts/iconpack/oaShopIcons.eot');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'oaShopIcon';
	src:url('../scss/settings/fonts/iconpack/oaShopIcons.eot');
	src:url('../scss/settings/fonts/iconpack/oaShopIcons.eot?#iefix') format('embedded-opentype'),
	url('../scss/settings/fonts/iconpack/oaShopIcons.woff') format('woff'),
	url('../scss/settings/fonts/iconpack/oaShopIcons.ttf') format('truetype'),
	url('../scss/settings/fonts/iconpack/oaShopIcons.svg#oaShopIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon {
  font-family: 'oaShopIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	text-rendering: optimizeLegibility;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-VerticalDotted:before {
  content: "\e600";
}
.icon-Twitter:before {
  content: "\e601";
}
.icon-RightSliderArrow:before {
  content: "\e602";
}
.icon-LeftSliderArrow:before {
  content: "\e603";
}
.icon-ShoppingCart:before {
  content: "\e604";
}
.icon-SearchIcon:before {
  content: "\e605";
}
.icon-OAShopLogo:before {
  content: "\e606";
}
.icon-MyAccountIcon:before {
  content: "\e607";
}
.icon-MenuIcon:before {
  content: "\e608";
}
.icon-GoogleIcon:before {
  content: "\e609";
}
.icon-FacebookIcon:before {
  content: "\e60a";
}
.icon-BacktoTop:before {
  content: "\e60b";
}
.icon-LongPriceTag:before {
  content: "\e616";
}
.icon-ShortPriceTag:before {
  content: "\e615";
}
.icon-ArrowUpIcon:before {
  content: "\e60c";
}
.icon-Check:before {
  content: "\e60d";
}
.icon-ArrowUp:before {
  content: "\e60e";
}
.icon-ArrowDown:before {
  content: "\e60f";
}
.icon-Wishlist:before {
  content: "\e610";
}
.icon-Compare:before {
  content: "\e611";
}
.icon-Eraser:before {
  content: "\e612";
}
.icon-TrashCan:before {
  content: "\e613";
}
.icon-Star:before {
  content: "\e614";
}
