// AddThis Module Overrides
.addthis_counter, .addthis_button_print, .addthis_button_email {
	// Hide unecessary elements on mobile only
	@media only screen and (max-width: 480px) {
		display: none !important;
	}

	@media only screen and (min-width: 768px) and (max-width: 992px) {
		display: none !important;
	}

}