#global-ajax-loader {
	display: none;
	position: fixed;
	z-index: 500;
	width: 100%;
	height: 100%;
	background-color: #000000;
	@include opacity(0.8);
	top: 0px;

	img {
		position: absolute;
		top: 45%;
		left: 50%;
		width: 119px;
		height: 110px;
		margin-left: -59.5px;
	}
}
.oa-ajax-add {
	width: 26px !important;
	height: 40px !important;
	padding: 11px 4px !important;
	display: none !important;
	&.active {
		display: block !important;
	}
}
#mobile-cart-count {
	position: absolute;
	right: 5px;
	top: 4px;
	color: #ffffff;
	@include breakpoint(tablet-and-up) {
		display: none;
	}
}
.oa-ajax-modal-container {
	display: none;
	z-index: 300;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 56px;
	left: 0px;
	@include breakpoint(tablet-and-up) {
		top: 180px;
	}
}
.oa-ajax-modal {
	margin: 0 auto;
	min-height: 168px;
	max-width: 404px;
	background: #ffffff;
	box-shadow: 0px 0px 4px #a3a3a3;
	font-size: 16px; font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	.modal-close {
		padding-right: 8px;
		float: right;
		@include clearfix();
		img {
			width: 12px;
			height: 12px;
		}
	}
	.message {
		color: #454f48;
		padding: 7% 9% 2%;
		margin-bottom: 12px;
		@include breakpoint(tablet-and-up) {
			margin-bottom: 20px;
		}
	}
	.cart-button {
		background: #40a40b;
		color: #ffffff;
		text-decoration: none;
		padding: 10px;
		display: inline-block;
		margin-bottom: 15px;
	}
}