/**
*
* Breadcrumbs SASS Rules
* @Author: Rafael
* @Author: Nabil
* @Desc: Customized SASS declarations for Breadcrumbs
*
**/
$breadcrumb-color: #454f48;

.breadcrumbs {
	display: none;
	@include make-md-column(12);

	@include breakpoint(tablet-and-up) {
		display: block;
	}

	ul {
		font-family: $font-lato;
		font-size: 12px;
		font-size: 1.2rem;
		list-style-type: none;
		color: $breadcrumb-color;
		margin: 15px 0px 0px;
		padding: 0px;

		li {
			display: inline-block;

			a {
				color: $breadcrumb-color;
				font-family: $font-lato;
			}

			a:active {
				color: $breadcrumb-active-color;
			}
		}

	}
}