/**
*
*	Product Carousel Slider
*	@author Michael Lee		
*
**/

$pull-right: right !important;
$pull-left: left !important;

body {
  background: #f2f2f2;
}


.carousel {
  position: relative;
  background: inherit;
  margin-top: 10px;
  margin-bottom: 10px;

  .title {
    color: #454f48;
    font-family: $font-montserrat;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }
}

/* Owl overrides */

/* Carousel All Item Wrapper */
.carousel-holder { //Try to fix slider item spacing
  padding-top: 15px;
  padding-bottom: 10px;
  //padding-left: 15px;
  //padding-right: 15px;
  @include breakpoint(tablet-and-up) {
    padding-right: 5px;
  }
  @include breakpoint(laptop-and-up) {
    padding-right: 15px;
  }
}
/* Carousel All Item Wrapper */

/* Navigation Styling */
.nav-container {
  border-bottom: 2px solid #454f48;
  z-index: 0;

  .controls {
    position: absolute;
    background: #f2f2f2;
    right: 0px;
    top: 5px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: ($grid-gutter-width / 2);
    width: 115px;
  }
}

/* Item Container */
.outer-item {
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  // Fix item spacing
  @include breakpoint(phone-and-up) {
    margin-right: 10px;
  }
  @include breakpoint(laptop-and-up) {
    margin-right: 15px;
    margin-left: 5px;
    padding-left: 0px;
    padding-right: 15px;
  }
}

.item{
  //margin-right: 20px;
  display: block;
  position: relative;
  box-shadow: 0px 0px 4px #a3a3a3;
  padding: 0px 15px;
  background: #ffffff;

  img {
    @include container-fixed();
  }
}

.price-divider {
  @extend .icon;
  &:before {
    font-family: $font-oaShopIcon;
    @extend .icon-VerticalDotted;
  }
}

.prev {
  display: inline-block;
  float: $pull-left;
  &:before {
    font-family: $font-oaShopIcon;
    @extend .icon-LeftSliderArrow;
  }
}

.next {
  display: inline-block;
  float: $pull-right;
  &:before {
    font-family: $font-oaShopIcon;
    @extend .icon-RightSliderArrow;
  }
}

.arrow {
  @extend .icon;
  color: #454f48;
  font-size: 15px; font-size: 1.5rem;
  border: 2px solid #cccccc;
  padding: 5.5px 7px;

  &:hover {
    cursor: pointer;
  }
}

.product-data-wrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 62px;
}

.price-tag {
  position: absolute;
  display: block;
  bottom: 0px;
  right: -15px;
  height: 100%;
  width: 100%;
  background: #454f48;
}

.price-tag-img {
  position: absolute;
  left: -30px;
  top: 0px;
  img {
    height: 62px;
  }
}

.price {
  display: table;
  float: left;
  width: 45%;
  height: 100%;
  border-right: 2px dotted #919191;

  .actual {
    display: block;
    color: #ffffff;
    font-family: $font-montserrat;
    font-size: 20px; font-size: 2.0rem;
    letter-spacing: -1px;
    font-weight: bold;

    @include breakpoint(tablet-and-up){
      font-size: 16px; 
      font-size: 1.6rem;
    }
    @include breakpoint(laptop-and-up){
      font-size: 20px; 
      font-size: 2.0rem;
    }
  }

  .original {
    display: block;
    color: #bbcc00;
    font-family: $font-lato;
    font-size: 10px; font-size: 1.0rem;
    margin-top: -7px;
  }
}

.price-inner {
  display: table-cell;
  vertical-align: middle;
  text-indent: 1em;
  padding-right: 5%;

  @include breakpoint(tablet-and-up){
    text-indent: .5em;
    padding-right: 5%;
  }
}

.name-wrapper {
  display: table;
  float: left;
  width: 50%;
  color: #ffffff;
  height: 100%;
  @include breakpoint(laptop-and-up){
    width: 48%;
  }
}

.name-inner {
  display: table-cell;
  vertical-align: middle;
  font-family: $font-lato;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100%;
  font-size: 16px; font-size: 1.6rem;
  word-wrap: break-word;
  padding-left: 5%;
  padding-right: 5%;
}

/* Code for product page carousel */
body.catalog-product-view {

}