/*
 * OA Shop Category Views 
*/

@media (max-width: 479px) {
      .products-grid li:nth-child(odd), .products-grid li:nth-child(even) {
          padding-left: 0 !important;
          padding-right: 0 !important;
      }
  }

  @media (min-width: 480px) {
      .col-psm-6 {
      width: 50%;
      float: left;
      }
  }

  @media (max-width: 767px) {
      .left-sidebar {
        display: none;
      }
      .products-list .item-tab-n-up {
        display: none;
      }
  }

  @media (min-width: 768px) {

      .h-divider {
        display: none !important;
      }

      .left-sidebar {
        @include make-sm-column(4);
        padding-left: 0;
      }
      .products-list .item-box {
        display: none;
      }

      .cat-pagination-top {
        padding: 30px 0 14px !important;
      }

      .sorter {
        bottom: 42px;
        display: inline-block;
        float: left;
        height: 36px;
        left: 68px;
        margin: 0;
        position: relative;
        width: 240px;
      }

   .products-list .cat-add-to-cart {
      width: 172px;
    }
  }


  @media (max-width: 991px) {
    .products-list .item-reviews-row {
    font-size: 10px !important;
    font-size: 1.0rem !important;
    }
    .products-list .item-name-lg {
      font-size: 16px !important;
      font-size: 1.6rem !important;
      line-height: 18px !important;
    }

    .products-list .item-description-row {
    font-size: 12px !important;
    font-size: 1.2rem !important;
    line-height: 15px !important;
    height: 60px !important;
    }

   .products-list .cat-add-to-cart {
      width: 122px !important;
    }
  }

.catalog-category-view, .catalogsearch-result-index {
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .main {
    @include make-sm-column(8);

     @media (min-width: $screen-sm) {
      padding-right: 0;
      }
  }

  .limiter {
    display: none;
  }
}

/* Left Sidebar Styling */

  .sidebar-top-label {
    border: 2px solid #454f48;
    border-width: 0 0 2px 0;
    color: #454f48;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
    font-size: 2.0rem;
    font-weight: 700;
    letter-spacing: -1px;
    padding-bottom: 7px;
    text-transform: uppercase;
  }

  .sidebar-option-box {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;

    dd {
      margin: 0;
    }

    ol {
      @extend .sidebar-options-grp;
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        .price {
          color: inherit; 
        padding-left: 0;
        display: inherit;
        float: none;
        width: auto;
        height: auto;
        border: none;
        }
      }
    }
  }

  .sidebar-option-hdr {
    border: 2px solid #cccccc;
    padding: 10px;
    border-top: 0;

    &:first-child{
      border-top: 2px solid #ccc;
    }

    @extend .clearfix;
  }

.sidebar-option-label{
  @include make-md-column(6);

  color: #454f48;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; font-size: 1.6rem;
  font-weight: 700;
  letter-spacing:-1px;
  margin: 0;
  padding: 0;
  display: inline;
}

.sidebar-option-icon {
  @include make-md-column(6);

  display: inline;
  top: 6px;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: right;
  float:right;
}

.sidebar-option-icon:before {
  content: "\e60f";
}

.sidebar-options {
  border: 2px solid #cccccc;
  border-width: 0 2px 2px;
  padding: 10px;
}

.sidebar-options-grp {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  list-style-type: none;
  margin: 0; 
  padding: 0;
}

.sidebar-options-grp li a {
  color: #40a80b;
}

.sidebar-options-grp li span {
  color: #454f48;
  padding-left: 5px;
}


/* Category Content Styling */
  .category-header {
    margin-bottom: 20px;
  }

  .page-title.category-title, .oa-search-results .oa-search-page-title {
    h1 {
      border: 2px solid #454f48;
      border-width: 0 0 2px 0;
      color: #454f48;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-size: 2.0rem;
      font-weight: 700;
      letter-spacing: -1px;
      padding-bottom: 7px;
      text-transform: uppercase;
    }
  }

  .cat-pagination-top, .cat-pagination-btm {
    label {
      font-weight: bold;
      display: inline-block;
    margin-bottom: 5px;
    }
  }
  .cat-pagination-top {
    border: 2px solid #cccccc;
    border-width: 0 0 2px 0;
    margin: 0 0 20px 0 !important; 
    padding: 10px 0 14px 0;
  }

  .cat-pagination-btm {
    border: 2px solid #cccccc;
    border-width: 2px 0 0 0;
    margin: 0 !important;
    padding: 10px 0 14px 0;
    }  

  .category-footer {
    margin-top: 10px;
  }

  .category-item-amount {
    color: #454f48;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -1px;
    padding-top: 2px;
    margin: 0;
  }


/* Attributes To Remove Unnecessary Bootstrap Gutters */
  .products-grid li:nth-child(odd) {
      padding-left: 0 !important;
  }
  .products-grid li:nth-child(even) {
      padding-right: 0 !important;
  }

  .no-gutter-lt {
    padding-left: 0 !important;
  }

  .no-gutter-rt {
    padding-right: 0 !important;
  }

  .no-gutter {
    padding: 0 !important;
    margin: 0 !important;
  }

/* Product Category Module Styling */
  .cat-item {
    @extend .clearfix;
    margin: 30px 0px 45px 0px;

    &.last {
      margin-bottom: 0px;
    }
  }

  .products-grid, .products-list {
    list-style: none; 
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }


.products-list .cat-item {
    padding: 0 !important;

    @media (max-width: $screen-xs-max) {
      background: #ffffff;
      box-shadow: 0px 0px 4px #a3a3a3;
      height: 141px !important;
      overflow: hidden;
    }
  }

  .products-list .info-box {
    @media (max-width: $screen-xs-max) {
      float: left;
      padding-top: 90px;
      width: 45%;
    }

     @media (min-width: $screen-sm) {
      height: 100%;
     }
  }

.products-list .image-box {
    display: inline;
    float: left;
    height: 100%;
    padding: 20px 0px;
    text-align: center;
    width: 40%;
}

.products-list .image-box img {
    max-width: 104px;
    width: 100%;
    margin: 0 auto;
}

.products-list .featured-product-tags {
  float: left;
  height: 100%;
  width: 15%;

  @media (min-width: $screen-sm) {
      position: absolute;
    }
}

.products-list .promo-tags img {
    vertical-align: middle;
    position: relative;
    top: 38px;
}

.products-list .item-box {
    background:#ffffff;
    box-shadow: 0px 0px 4px #a3a3a3;
    height: 141px !important;
  }

.products-grid {
  @extend .clearfix;
}
  .products-grid .item-box {
    background:#ffffff;
    box-shadow: 0px 0px 4px #a3a3a3;
  }

 .products-grid .image-box {
    padding: 0px;

    img {
      margin: 0 auto;
      max-height: 203px;
    }
  }

/* Tablet & Up Styling */
.products-list .image-box-lg {
  @media (max-width: $screen-xs-max) {
    display: inline;
    float: left;
    height: 100%;
    padding: 20px 0px;
    text-align: center;
    width: 40%;
    }

    img {
    box-shadow: 0px 0px 4px #a3a3a3;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $screen-xs-max) {
      max-width: 104px;
      
    }
  }
}

.products-list .item-name-lg {
  color: #000000;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 22px;
  margin: 0 0 5px 0;

  @media (max-width: $screen-xs-max) {
    padding: 0 10px 0 20px ;
    height: 40px;
    overflow: hidden;
  }
}

.products-list .category-item-prices-lg  {
    

  @media (min-width: $screen-sm) {
    border: 2px solid #cccccc;
      border-width: 0 0 2px 0;
      padding-bottom: 10px;
      margin-bottom: 10px;
    width: 100%;
  }
  }

.products-list .category-item-prices-lg .cat-sale-price  {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; 
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 26px;

    @media (min-width: $screen-sm) {
      color: #40a80b;
      font-size: 24px; 
      font-size: 2.4rem;
      display: inline-block;
    }
  }

.products-list .category-item-prices-lg .cat-reg-price  {
    color: #bbcc00;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 14px;
    padding-left: 5px;

    @media (min-width: $screen-sm) {
      color: #9c9c9c;
      font-size: 14px;
      font-size: 1.4rem;
      display: inline-block;
    }
  }

  .products-list .item-reviews-row {
    border: 2px solid #cccccc;
    border-width: 0 0 2px 0;
    color: #000000; 
    display: inline-block;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .products-list .ratings {
    border: 2px solid #cccccc;
    border-width: 0 0 2px 0;
    color: #000000; 
    display: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;

    @media (min-width: $screen-sm) {
      padding-top: 0;
      display: inline-block;
    }

    .rating-links {
      margin: 0;
      display: inline-block;

      a {
        &, &:active, &:focus {
          color: black;
        }
      }
    }

    .rating-box {
     width: 90px;
     height: 20px;
     position: relative;
     display: inline-block;
     vertical-align: -4px;
   }

   .stars {
     width: 100%;
     height: 100%;
     background: url(../img/stars_cutter.png);
     position: absolute;
     top: 0;
     left: 0;
     background-size: 100% auto;
   }

   .rating {
     background: #e39b00;
     width: 100%;
     height: 100%;
    }
  }

  .products-list .item-reviews-row .item-review-count {
    color: #000000;
    padding: 0 5px;
  }

  .products-list .item-reviews-row .item-review-options {
    color: #000000;
    border: 1px solid #000000;
    border-width: 0 0 0 1px;
    padding-left: 5px;
  }

  .star-icon:before {
    color: #e39b00;
    content: "\e614";
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 14px;
  }

  .products-list .item-description-row {
    color: #454f48; 
    display: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 18px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 14px;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      display: block;
    }

  }

  .products-list .action-btns-row {
    color: #454f48; 
    display: none;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;

    @media (min-width: $screen-sm) {
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    a {

      &:hover {
        text-decoration: none;
      }
      &, &:active, &:focus {
        color: white;
      }
    }
  }

  .products-list .action-btns-row button {
    background: #40a80b;
    border: 0;
    color: #ffffff; 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; 
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 16px;
    margin-right: 10px;
    min-height: 32px;
    min-width: 32px;
    padding: 6px;
    text-transform: uppercase;
    vertical-align: text-top;
  }

  .list-icon:before {
    content: "\e610";
  }

  .compare-icon:before {
    content: "\e611";
  }


 .products-grid .category-item-prices, .products-list .category-item-prices {
    display: inline-block;
    margin-right: 10px;
    max-width: 100%;
  }

 .products-grid .cat-sale-price, .products-list .cat-sale-price  {
    color: #ffffff;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 26px;
  }

 .products-grid .cat-reg-price, .products-list .cat-reg-price  {
    color: #bbcc00; 
    display: block;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 12px;
  }

 .products-grid .category-item-info {
    border-left: 2px dotted #919191;
    display: inline-block;
    color: #ffffff;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    max-width: 100%;
    padding: 10px 10px 0 10px;
    margin-left: 10px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    top: 0px;
  }

   .products-list .category-item-info {
    /*border-left: 2px dotted #919191;*/
    display: inline-block;
    color: #000000;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    max-width: 100%;
    padding: 10px 10px 0 10px;
    margin-left: 10px;
    height: 60px;
    overflow: hidden;
    /*position: absolute;*/
    top: 0px;
  }
  

 .products-grid .category_price_tag {
    background-color:#454f48;
    font-family: 'Lato', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    position:relative;
    padding:10px 0;
    margin-left:32px;
    min-height: 62px;
  }

 .products-grid .category_price_tag::before {
    background-image: url(../img/long-price-tag.png);
    content:"1";
    max-width:32px;
    max-height:62px;
    height:100%;
    position:absolute;
    display:block;
    top:0px;
    left:-32px;
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

.products-list .category_price_tag {
  @media (max-width: $screen-xs-max) {
    position: absolute;
    width: 100%;
    top: 15px;
    background-color:#454f48;
    font-family: 'Lato', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    padding:10px 0;
    margin-left:32px;
    min-height: 62px;

      &:before {
        background-image: url(../img/long-price-tag.png);
        content:"1";
        max-width:32px;
        max-height:62px;
        height:100%;
        position:absolute;
        display:block;
        top:0px;
        left:-32px;
        display: inline-block;
        width: 100%;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;
        background-size: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
  }
}

/* Pagination Customization */
.oa-pages {
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

.oa-pages .pg-num-label {
  color: #454f48;
  float: left; 
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: -1px;
  margin:0;
  padding-top: 2px;
  position: relative; 
}

.pg-arrow-lt {
  background: none !important;
  background-color: none !important;
  border: 0;
}

.pg-arrow-lt:before {
  content: "\e603";
}

.pg-arrow-rt:before {
  content: "\e602";
}

.pagination {
  > li {
    display: inline;
  }
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border: 0;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.oa-pages.pagination>li>a, .oa-pages.pagination>li>span {
  position: relative;
  float: left;
  line-height: 1.42857143;
  text-decoration: none;
  margin-left: -1px;
}

.oa-pages,.pagination>li>a, .pagination>li>span {
  padding: 1px 8px;
  color: #cccccc;
  background-color: #f2f2f2;
  border: 0;
}

.pagination>.current>a,
.pagination>.current>span,
.pagination>.current>a:hover,
.pagination>.current>span:hover,
.pagination>.current>a:focus,
.pagination>.current>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #40a80b;
    border-color: #40a80b;
    cursor: default;
  }

  .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #40a80b;
    background-color: #dcdcdc;
    border-color: #999;
  }


/* View Mode Styling */
.grid {
  //background-image: url(/img/grid_view_on.png);
  content:"1";
  max-width:20px;
  max-height:20px;
  height:100%;
  position:absolute;
  display:block;
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.list {
  //background-image: url(/img/list_view_off.png);
  content:"1";
  margin-left: 20px;
  max-width:22px;
  max-height:20px;
  height:100%;
  position:absolute;
  display:block;
  display: inline-block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Horizontal Divider Styling */
.h-divider {
  border: 2px solid #cccccc; 
  border-width: 2px 0 0 0; 
  padding: 0;
  margin: 20px 0 10px 0;
}

/* Sorter Styling */
  .sorter {
    color: #454f48; 
    font-family: 'Montserrat', sans-serif;
  }

  .view-mode {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0;
  }

 .lt-box-border {
    border: 2px solid #cccccc;
    padding: 8px; 
    width: 72px;
    height: 40px;
  }

  .sort-by-label {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 0 !important;
    right: 94px;
    text-align: right;
  }

 .custom-sort {
    display: inline-block;
    float: right;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    position: relative;
  }

  .custom-sort label {
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0 0 5px 0;
  }

  .custom-sort select {
    appearance: none;
    background: none;
    background-color: none;
    border: 2px solid #cccccc;
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    height: 40px;
    outline: none;
    margin: 0;
    padding: 8px;
    text-indent: 0.01px;
    text-overflow: '';
    width: 140px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-border-radius: 0px;
  }

  .custom-sort select:focus {
      -webkit-box-shadow: 0 0 3px 1px #40a80b;
      -moz-box-shadow: 0 0 3px 1px #40a80b;
      box-shadow: 0 0 3px 1px #40a80b;
  }
    
  .custom-sort:after {
    content: "\e60f";
    border: 2px solid #cccccc;
    border-width: 0 0 0 2px;
    position: absolute;
 
    right: 0;
    bottom: 0;
    font-size: 10px;
    font-size: 1.0rem;
    line-height: 26px;
    padding: 7px 12px 0 10px;

    color: #454f48;
    pointer-events:none;
    height: 40px;
    -moz-appearance: none;

    background-color: #F2F2F2;
    border: 2px solid #CCC;
  }

  .custom-sort select:not([size]) {
    color: #454f48;
    /*background: #f2f2f2;*/
  }
    
  .no-pointer-events .custom-sort:after {
      content: none;
  }

  .custom-sort select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }

  .cat-list {
    img {
      width: 18px;
    }
  }

  .cat-compare {
    img {
      width: 20px;
    }
  }