/**
*
* Checkout Page SASS Rules
* @Author: Nabil Jamaleddine
* @Desc: Customized SASS declarations for the checkout page
*
**/
/* Globals */

/* Main checkout container (left side) */
.checkout-page-container {

  /* Global Shopping Cart Page Styles */
  h1, h3, h4 {
    font-family: $font-montserrat;
  }

  h2, h5, h6 {
    font-family: $font-lato;
  }

  h1 {
    color: #454f48;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2 {
    font-family: $font-montserrat;
    font-size: 15px; font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h4 {
    color: #999999;
    font-size: 15px; font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 12px; font-size: 1.2rem;
  }

  h6 {
    color: #000000;
    font-size: 14px; font-size: 1.4rem;
  }

  p {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }

  a {
    color: #40a80b;
    font-family: $font-lato;
    text-decoration: none;
  }

  .dark-label {
    color: #454f48;
  }

  .disabled-label {
    color: #999999;
  }

  .button {
    background: $kelly-green;
    border: 0;
    color: #ffffff;
    display: inline;
    font-family: $font-montserrat;
    font-size: 16px; font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 100%;
    max-width: 240px;
    height: 52px;
  }

  .validation-required {
    color: #f4140a;
    font-family: $font-lato;
    font-size: 12px; font-size: 1.2rem;
  }

  .validation-failed {
    border: 1px dashed rgb(244,91,88);
    background-color: rgb(255,221,218) !important;
  }

  .validation-advice {
    @extend .validation-required;
    margin-bottom: 10px;

    .arrow-up {
      font-size: 10px;
      @extend .icon;
      @extend .icon-ArrowUpIcon;
    }
  }

  .input-texttype-field {
    background-color: #fff;
    border: 1px solid #cccccc;
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    font {
      family: $font-lato;
      size: 16px; size: 1.6rem;

    }
  }

  .address {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }

  .radio-label {
    background-color: #ffffff;
    color: #ffffff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px;
    // border: 1px solid #cccccc;
    width: 22px;
    height:22px;
    margin-right: 15px;

  }

  .radio-label:before {
    content: "";
    color: #fff;
    display: inline-block;
    font-size: 20px;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    margin-top: -10px;
    background: #fff;
    border: 1px solid #ccc;
  }

  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before
  {
    @extend .icon;
    @extend .icon-Check;
    text-align: center;
    font-size: 10px; font-size: 1.0rem;
    font-weight: normal;
    line-height: 20px;
    background-color: #40a80b;
  }

  input[type=checkbox],
  input[type=radio]
  {
      display: none;
  }

  fieldset {
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 0 0;
  }

  input[type="text"] {
    font-family: $font-lato;
  }

  /* Selectric select box custom page rules */
  .selectricWrapper {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 52px;
    width: 100%;
    margin-bottom: 0px;

    .selectric {
      background: none;
      border: 0;

      p {
        padding-left: 20px;
        height: 100%;
        line-height: 36px;
        white-space: normal;
      }
      .oa-select-arrow {
        height: 50px;
        left: inherit;
        line-height: 52px;
        right: 0;
        border-left: 0;
      }

    }

    .selectricItems {
      ul {

        li {
          font-family: $font-lato;
          font-size: 14px; font-size: 1.4rem;
          padding: 10px 20px;
          margin-bottom: 0;

          .selected {
            font-family: $font-lato;
            font-size: 14px; font-size: 1.4rem;
            padding-left: 20px;
          }

        }

      }

    }

  }
  /* End of global styles */

  .page-title {

   h1 {
      text-transform: uppercase;
      padding-bottom: 10px;
      border-bottom: 2px solid #454f48;
    }

  }

  // Ordered list for lising each step of the checkout process (li)
  #checkoutSteps {
    list-style: none;
    padding-left: 0;

    /* A checkout step */
    .section {
      border: 2px solid #ccc;
      border-bottom: 0;

      &:last-of-type {
        border-bottom: 2px solid #ccc;
      }

      .step-title {
        height: 56px;
        color: #999999;

        .number {
          @extend .disabled-label;
          @include make-sm-column(1);
          display: block;
          float: left;
          border-right: 2px solid #ccc;
          text-align: center;
          height: 100%;
          width: 56px !important;
          vertical-align: middle;
          line-height: 56px;
        }

        h2 {
          @include make-sm-column(9);
          float: left;
          a {
            @extend .disabled-label;
            font-family: $font-montserrat;
          }
        }

      }

      // Each checkout step (generic step container)
      .step {
        @include clearfix();

        /* Checkout method (user not logged in) */
        .col2-set {
          @include clearfix();

          /* Checkout method global button rule*/
          button {
            margin-top: 20px;
          }

          .col-1 {
            @include make-sm-column(12);
            border-bottom: 2px solid #ccc;
            padding-bottom: 80px;
            margin-bottom: 10px;

            h3 {
              color: $kelly-green;
              font-family: $font-montserrat;
              font-size: 16px; font-size: 1.6rem;
              font-weight: bold;
              letter-spacing: -1px;
            }

            p {

            }

            .form-list {

              .control {
                list-style: none;

                input[type=radio] {

                }

                label {

                  span {
                    width: 200px;
                    margin-left: 20px;
                    margin-top: -10px;
                    position: absolute;
                    color: #999999;
                    font-size: 14px; font-size: 1.4rem;
                    display: block;
                  }

                }

              }

            }

            h4 {
              color: $kelly-green;
              font-family: $font-lato;
              font-size: 14px; font-size: 1.4rem;
            }

            ul {

              li {
                list-style-type: disc;
                color: $kelly-green;
                font-size: 14px; font-size: 1.4rem;
                font-family: $font-lato;
                margin: 10px 0px;

                span {
                  color: #454f48;
                }

              }

            }

            .buttons-set {

              button {
                width: 126px;
                float: right;
              }

            }

            @include breakpoint(tablet-and-up) {
              border-bottom: 0;
              padding-bottom: 10px;
              @include make-sm-column(6);
              display: block;
              input[type="text"], input[type="password"] {
                max-width: 100% !important;
              }
            }

            @include breakpoint(laptop-and-up) {
              @include make-md-column(6);
            }

          }

          .col-2 {
            @include make-sm-column(12);

            h3 {
              color: $kelly-green;
              font-family: $font-montserrat;
              font-size: 16px; font-size: 1.6rem;
              font-weight: bold;
              letter-spacing: -1px;
            }

            form {

              fieldset {
                padding: 0;
                margin: 0;

                h4 {
                  color: #454f48;
                  font-family: $font-lato;
                  font-size: 14px; font-size: 1.4rem;
                  font-weight: bold;
                  margin: 0;
                }

                p {
                  color: #454f48;
                  font-family: $font-lato;
                  font-size: 14px; font-size: 1.4rem;
                  margin-top: 0;
                }

                .form-list {

                  li {

                    .input-box {

                      input {
                        border: 1px solid #cccccc;
                        border-bottom: 0;
                        width: 100%;
                        max-width: 280px;
                        height: 52px;
                        padding-left: 20px;
                        padding-right: 20px;
                        font {
                          family: $font-lato;
                          size: 16px; size: 1.6rem;
                        }

                      }

                      #login-password {
                        border-bottom: 1px solid #ccc;
                      }

                    }

                  }

                }

              }

            }

            .buttons-set {

              .required {
                @extend .validation-required;
              }

              button {
                width: 126px;
                float: right;
                margin-top: 18px;
                margin-bottom: 15px;
              }

            }

            @include breakpoint(tablet-and-up) {
              padding-bottom: 10px;
              margin-bottom: 10px;

              @include make-sm-column(6);
              display: block;
              input[type="text"], input[type="password"] {
                max-width: 100% !important;
              }

              .buttons-set {

                button {
                  margin-bottom: 0;
                }

              }

            }

            @include breakpoint(laptop-and-up) {
              @include make-md-column(6);
            }

          }

        }
        /* End of checkout method */

        form {

          &#co-shipping-method-form {
            padding: 10px 0px;
          }

          @include make-sm-column(12);

          fieldset {
            border: 0;
          }

          // unordered list
          .form-list {
            @include make-sm-column(12);
            list-style: none;

            .control {
              padding: 0px !important;
              margin-top: 10px !important;
            }

            li {

              label {
                color: #454f48;
                font-family: $font-lato;
              }

              /* Billing Address select box container */
              .input-box {
                margin-bottom: 0px;
                max-width: 1000px;

                select {

                }

              }

            }

            li {

              fieldset {
                margin-bottom: 20px;

                ul {
                  // @include make-sm-column(12);

                  list-style: none;
                  padding-left: 0;
                  padding-right: 0;

                  input[type="text"], input[type="password"], select {
                    @extend .input-texttype-field;
                  }

                  input[type=checkbox] {
                      display: none;
                  }

                  li {
                    .billing-col-1 {

                    }

                    .billing-col-2 {

                    }

                    @include breakpoint(tablet-and-up) {
                      .billing-col-1 {
                        @include make-sm-column(6);
                        float: left;
                        padding-left: 0px;
                        padding-right: 10px;
                      }

                      .billing-col-2 {
                        @include make-sm-column(6);
                        float: right;
                        padding-left: 10px;
                        padding-right: 0px;
                      }
                    }
                  }

                }

              }

            }

            .control {
              @include make-sm-column(12);

              input {

              }

              label {
                color: #454f48;
                font-family: $font-lato;
                font-size: 14px; font-size: 1.4rem;

                /* Text inside label */
                span {
                  width: 200px;
                  margin-left: 20px;
                  margin-top: -10px;
                  position: absolute;
                  display: block;
                }
              }

            }

          }

          .buttons-set {
            @include make-sm-column(12);
            margin-top: 30px;

            .required {
              @extend .validation-required;
            }

            /* Form submit button */
            button {
              width: 126px;
              height: 52px;
              float: right;
              margin-top: -50px;
              margin-right: -5px;
            }

            .please-wait {

              img {

              }

            }

            @include breakpoint(tablet-and-up) {
              margin-right: 0;

            }

          }

          /* Checkboxes for shipping methods */
          #checkout-shipping-method-load {
            @include make-sm-column(12);

            .sp-methods {
              // Titles
              dt {
                font-weight: bold;
                margin: 5px 0px;
              }
              // Containers holding checkboxes
              dd {
                margin: 5px 0px;

                ul {
                  margin: 0;
                  padding: 0;
                  list-style-type: none;

                  li.shipping-option {
                    margin: 8px 0px;
                    min-height: 45px;

                    label.radio-label {
                      color: black;
                      background-color: transparent;
                      width: 100%;

                      span {
                        &.shipping-long-label {
                          display: block;
                          width: 100%;
                          margin: -10px 0px 0px 20px;

                          .price {
                            float: none;
                            display: block;
                            border: none;
                            width: auto;
                            height: auto;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        /* Not logged in checkout tab */
        #login-form {
          padding: 0 !important;
          .form-list {
            padding: 0 !important;
          }
        }

      }

      /* Credit card checkout payment step */
      #checkout-step-payment {
        @include make-sm-column(12);
        @include clearfix();
        float: none !important;

        form {

          #checkout-payment-method-load {
            dt {

              input {

              }

              label {
                color: #454f48;
                font-family: $font-lato;
                font-size: 14px; font-size: 1.4rem;

                /* Text inside label */
                span {
                  width: 200px;
                  margin-left: 20px;
                  margin-top: -10px;
                  position: absolute;
                  display: block;
                }

              }

            }


            /* Credit card checkout payment option */
            dd {
              margin-left: 0;

              #payment_form_ccsave {
                padding: 0;

                .credit-card-col1 {
                  ul {
                    list-style: none;
                    padding: 0;

                    li {

                      .input-box {
                        margin-bottom: 0;

                        input {
                          @extend .input-texttype-field;
                        }
                      }

                    }
                  }

                }

                .credit-card-col2 {
                  ul {
                    list-style: none;
                    padding: 0;

                    li {

                      .input-box {
                        margin-bottom: 0;

                        input {
                          @extend .input-texttype-field;
                        }
                      }

                    }

                  }

                }

                @include breakpoint(laptop-and-up) {
                  .credit-card-col1, .credit-card-col2 {
                    @include make-sm-column(6);
                  }

                  .credit-card-col1 {
                    padding-left: 0;
                    padding-right: 10px;
                  }

                  .credit-card-col2 {
                    padding-left: 10px;
                    padding-right: 0;
                  }

                }

              }

            }

          }

          fieldset {

            #checkout-payment-method-load {
              dt {

                input {

                }

                label {
                  color: #454f48;
                  font-family: $font-lato;
                  font-size: 14px; font-size: 1.4rem;

                  /* Text inside label */
                  span {
                    width: 200px;
                    margin-left: 20px;
                    margin-top: -10px;
                    position: absolute;
                    display: block;
                  }

                }

                .radio-label[for="p_method_paypal_express"] {
                  span {
                    margin-top: -15px;
                  }
                }

              }

              /* Credit card checkout payment option */
              dd {
                margin-left: 0;

                // Old 2 column payment form
                #payment_form_ccsave {
                  padding: 0;

                  .credit-card-col1 {
                    ul {
                      list-style: none;
                      padding: 0;

                      li {

                        .input-box {
                          margin-bottom: 0;

                          input {
                            @extend .input-texttype-field;
                          }
                        }

                      }
                    }

                  }

                  .credit-card-col2 {
                    ul {
                      list-style: none;
                      padding: 0;

                      li {

                        .input-box {
                          margin-bottom: 0;

                          input {
                            @extend .input-texttype-field;
                          }
                        }

                      }

                    }

                  }

                  @include breakpoint(laptop-and-up) {
                    .credit-card-col1, .credit-card-col2 {
                      @include make-sm-column(6);
                    }

                    .credit-card-col1 {
                      padding-left: 0;
                      padding-right: 10px;
                    }

                    .credit-card-col2 {
                      padding-left: 10px;
                      padding-right: 0;
                    }

                  }

                }

                // Paypal checkbox
                #payment_form_paypal_express {
                  padding: 20px 0px 0px 0px;

                  li {

                  }

                }

                // General payment form for Authorized and Paypal
                .form-list {
                  list-style: none;
                  padding: 0;
                  margin-bottom: 20px; // Add some space at the bottom

                  li {

                    .input-box {
                      margin-bottom: 0;

                      input, select {
                        @extend .input-texttype-field;
                      }

                      .v-fix {
                        select {
                          @extend .input-texttype-field;
                        }
                      }

                    }

                  }

                }

              }

            }
          }

        }
        /* Credit card tool-tip window (verification number) */
        .tool-tip {
          padding: 0px 15px;

          .btn-close {

          }

          .tool-tip-content {
            img {
              max-width: 453px; // Unless we upload a different photo, this is the max width of the current one
              width: 100%;
            }
          }

        }

        .buttons-set {
          @include make-sm-column(12);

          .required {
            color: #f4140a;
            font-family: $font-lato;
            font-size: 12px; font-size: 1.2rem;
          }

          button {
            margin-bottom: 15px;
            margin-top: -50px;
            width: 126px;
            height: 52px;
            float: right;
          }
        }

      }

      #checkout-step-review {

        /* Review order step*/
        .order-review {
          padding: 15px;

          #checkout-review-table {
            width: 100%;
            font-family: $font-lato;
            font-size: 14px; font-size: 1.4rem;

            // Remove that right dotted line border
            .price {
              border-right: 0;
              text-align: right;
              width: 100%;
            }

            .quantity {
              text-align: right;
            }

            .grandtotal {
              color: #40a80b;

            }

            thead {

              tr {

                th {
                  color: #000000;
                  font-family: $font-lato;
                  font-size: 14px; font-size: 1.4rem;
                  text-align: center;
                  padding: 0;
                  // display: none; //make mobile easier to display

                  &:first-of-type {
                    color: #40a80b;
                    font-family: $font-montserrat;
                    font-weight: bold;
                    letter-spacing: -1px;
                    text-align: left;
                  }

                  &:last-of-type {
                    text-align: right;
                  }

                }

              }

            }

            tfoot {
              border-top: 2px solid #ccc;

              // add a little padding to the first ones
              .first {

                td {
                  padding-top: 20px;

                }

              }

              tr {

                td {
                  font-weight: bold;
                  text-align: right;

                  &:first-of-type {
                    text-align: left;
                  }

                }

              }

            }

            tbody {

              tr {
                border-bottom: 1px solid #ccc;
                padding-top: 5px;
                padding-bottom: 5px;

                td {
                  padding: 20px 0 5px 0;

                  .product-name {
                    color: #000000;
                    font-family: $font-lato;
                    font-size: 14px; font-size: 1.4rem;
                    margin: 0;
                    /* Avoid overflow: */
                    max-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }

                }

                .a-right {

                  .cart-price {

                    .price {

                    }

                  }

                }

                .a-center {
                  // padding: 15px 0;
                  display: table-cell;
                }

                .a-right {

                  .cart-price {

                    .price {

                    }

                  }

                }

              }

            }

            @include breakpoint(tablet-and-up) {
              thead tr th {
                display: table-cell !important;
              }

              thead {

                tr {

                  th {
                    &:first-of-type {
                      font-size: 15px; font-size: 1.5rem;
                    }
                  }

                }

              }

              tfoot {

                tr {

                  td {
                    &:first-of-type {
                      text-align: right !important;
                    }
                  }
                }
              }

            }
          }

          #checkout-review-submit {
            border-top: 2px solid #ccc;
            padding-top: 10px;
            margin-top: 20px;
            margin-bottom: 10px;

            .buttons-set {
              text-align: center;

              /* forgot an item? */
              p {

                a {

                }

              }

              .btn-checkout {

              }

              /* Loading/wait image */
              .please-wait {

                img {

                }

              }

            }

            @include breakpoint(tablet-and-up) {
              margin-bottom: 10px;

              .buttons-set {

                /* forgot an item? */
                p {
                  float: left;

                  a {

                  }

                }

                .btn-checkout {
                  float: right;
                  margin-bottom: 10px;
                }

                /* Loading/wait image */
                .please-wait {

                  img {

                  }

                }

              }
            }

          }

        }

      }

    }

    /* Active checkout step */
    .active {
      border-top: 2px solid $kelly-green;

      .step-title {
        border-bottom: 2px solid #ccc;

        .number {
          color: #454f48;
          font-family: $font-montserrat;
          font-size: 15px; font-size: 1.5rem;
          font-weight: bold;
          letter-spacing: -1px;
        }

        h2 {

          a {
            color: #454f48;
          }

        }

      }

    }

  }

}

/* Checkout progress right sidebar */
.right-sidebar {

  #checkout-progress-wrapper {
    margin-top: 15px;

    .block-progress {

      .title {
        color: #40a80b;
        font-family: $font-montserrat;
        font-size: 16px; font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -1px;
      }

      .content {

        dl {

          div {
            border: 2px solid #ccc;
            border-bottom: 0;
            min-height: 56px;

            &:last-of-type {
              border-bottom: 2px solid #ccc;
            }

            dt {
              color: #999999;
              font-weight: bold;
              font-family: $font-montserrat;
              margin: 0 20px;
              padding: 19px 10px;

              span {

                a {
                    float: right;
                    color: #40a80b;
                    font-family: $font-lato;
                    text-decoration: none;
                }

              }

            }

            dd {
              border-top: 2px solid #ccc;
              padding: 10px;
              margin: 0 20px;
              color: #999999;
              font-family: $font-lato;
              font-size: 14px; font-size: 1.4rem;
              font-weight: normal;

              .address {
                border: 0 !important;
              }

              .price {
                border-right: 0;
                float: right;
                width: inherit;
                display: inline-block;
              }

            }

            .complete {
              padding: 10px 19px;
              margin: 0 20px;
              padding: 10px 0;
            }

          }

        }

      }

    }

  }

}
