/**
*
* Checkout Order Success SASS Rules
* @Author: Nabil Jamaleddine
* @Desc: Customized SASS declarations for the checkout order success
*
**/

/* Main checkout container (left side) */
.order-complete-container {
  /* Globals */
  h1, h3, h4 {
    font-family: $font-montserrat;
  }

  h2, h5, h6 {
    font-family: $font-lato;
  }

  h1 {
    color: #454f48;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2 {
    color: #000000;
    font-size: 26px; font-size: 2.6rem;
    line-height: 28px;
    margin-top: 10px;
  }

  h3 {
    color: #40a80b;
    font-size: 48px; font-size: 4.8rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 15px; font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 12px; font-size: 1.2rem;
  }

  h6 {
    color: #000000;
    font-size: 14px; font-size: 1.4rem;
  }

  p {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }

  a {
    color: #40a80b;
    font-family: $font-lato;
    text-decoration: none;
  }

  .button {
    background: #40a80b;
    border: 0;
    color: #ffffff;
    display: inline;
    font-family: $font-montserrat;
    font-size: 14px; font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 194px;
    height: 40px;

  }

  .validation-required {
    color: #f4140a;
    font-family: $font-lato;
    font-size: 12px; font-size: 1.2rem;
  }

  .input-texttype-field {
    border: 1px solid #cccccc;
    width: 100%;
    max-width: 280px;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    font {
      family: $font-lato;
      size: 16px; size: 1.6rem;

    }
  }

  /* End of global styles */

  .page-title {

    h1 {
      text-transform: uppercase;
      border-bottom: 2px solid #454f48;
      padding-bottom: 10px;
    }

  }

  .sub-title {
    color: #40a80b;
    font-family: $font-montserrat;
    font-size: 16px; font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  p {
    font-family: $font-lato;
    color: #454f48;
    font-size: 14px; font-size: 1.4rem;

    a {

    }

    &:first-of-type {
      font-weight: bold;
    }

    &:last-of-type {
      border-bottom: 2px solid #ccc;
      padding-bottom: 20px;
    }
  }

  .buttons-set {

    .button {
      min-width: 214px;
      height: 52px;
      float: right;
      font-size: 16px; font-size: 1.6rem;
    }

  }

  @include breakpoint(tablet-and-up) {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
  }

  @include breakpoint(laptop-and-up) {
    @include make-md-column(8);
    @include make-md-column-offset(2);
  }

}