/**
*
* Dashboard Page SASS Rules
* @Author: Nabil Jamaleddine
* @Desc: Customized SASS declarations for the dashboard account page
*
**/
/* Custom widths for 2 column containers */
.wrapper {

  .col2-left {

    .main-dashboard-head {
      @include make-sm-column(10);
      @include make-sm-column-offset(1);

      .page-title, .box-head {

        h1 {
          font-family: $font-montserrat;
          color: #454f48;
          font-size: 20px; font-size: 2.0rem;
          font-weight: bold;
          letter-spacing: -1px;
          text-transform: uppercase;
          border-bottom: 2px solid #454f48;
          padding-bottom: 10px;
        }

      }
      .welcome-msg {
        .hello {
          color: #454f48;
          font-family: $font-montserrat;
          font-weight: bold;
        }
        p {
          color: #454f48;
          font-family: $font-lato;
        }
      }

    }

    .left-sidebar {
      display: block;
    }

    .dash-left-col {
      display: block;
      @include breakpoint(tablet-and-up) {
        @include make-sm-column(4);
        @include make-sm-column-offset(1);
      }
    }

    .dash-right-col {
      @include breakpoint(tablet-and-up) {
        @include make-sm-column(6);
      }
    }

    // I don't know why the hell this happens, but trust me we need this.
    @media only screen and (min-width: 768px) and (max-width: 782px) {
      .main-dashboard-head {
        @include make-sm-column(12);
        clear: both;
        margin-left: 0px;
      }

      .dash-left-col {
        @include make-sm-column(5);
        float: left !important;
        margin-left: 0px;
      }

      .dash-right-col {
        @include make-sm-column(7);
        float: right !important;
        margin-left: 0px;
      }

    }

  }

}

.my-account-container {
  width: 100% !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  // Pager rules
  .pager {
    font-family: $font-lato;
    font-size: 14px;
    font-size: 1.4rem;

    .limiter {
      float: left;
      padding-bottom: 5px;

      // text-align: center;
      // @include breakpoint(tablet-and-up) {
      //   float: left;
      // }

      .page-select {
        background-color: #fff;
        border: 1px solid #ccc;
        font-family: $font-lato;
        font-size: 14px;
        font-size: 1.4rem;
        padding: 5px 0;
      }
    }

    .pages {
      float: right;
      // text-align: center;
      // @include breakpoint(tablet-and-up) {
      //   float: right;
      // }

      .oa-pages {

        .disabled {

          .pg-num-label {
            margin-right: 2px;
          }

        }

      }

    }

  }

  // back button rules
  .buttons-set {
    clear: both;
    margin-top: 60px;
  }

  // Fallback if javascript is disabled to display the hello message block correctly
  .dashboard {

    .main-dashboard-head {
      margin-left: 0;
      padding-left: 0;
      width: 100%;
      top: -20px;
    }

  }

  /* Global Dashboard Page Styles */
  h1, h3, h4 {
    font-family: $font-montserrat;
  }

  h2, h5, h6 {
    font-family: $font-lato;
  }

  h1 {
    color: #454f48;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2 {
    color: #000000;
    font-size: 26px; font-size: 2.6rem;
    line-height: 28px;
    margin-top: 10px;
  }

  h3, .legend {
    color: #40a80b;
    font-weight: bold;
    font-size: 16px; font-size: 1.6rem;
    letter-spacing: -1px;
    font-family: $font-montserrat;
  }


  h4 {
    font-size: 15px; font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 12px; font-size: 1.2rem;
  }

  h6 {
    color: #000000;
    font-size: 14px; font-size: 1.4rem;
  }

  p {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }

  a {
    color: #40a80b;
    font-family: $font-lato;
    text-decoration: none;
  }

  .button {
    background: #40a80b;
    border: 0;
    color: #ffffff;
    display: inline;
    font-family: $font-montserrat;
    font-size: 14px; font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 194px;
    height: 40px;
  }

  .validation-required {
    color: #f4140a;
    font-family: $font-lato;
    font-size: 12px; font-size: 1.2rem;
  }

  .validation-failed {
    border: 1px dashed rgb(244,91,88);
    background-color: rgb(255,221,218) !important;
  }

  .input-texttype-field {
    background-color: #fff;
    border: 1px solid #cccccc;
    width: 100%;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    font {
      family: $font-lato;
      size: 16px; size: 1.6rem;

    }
  }

  .sub-label {
    color: #454f48;
    font-family: $font-montserrat;
    font-size: 16px; font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  .saved-form-information {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
    font-style: normal;
  }

  .default-label {
    font-family: $font-lato;
    font-size: 12px; font-size: 1.2rem;
    text-transform: uppercase;
    color: #454f48;
    margin-bottom: 0;
  }

  .address {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }
  address {
    font-style: normal;
  }

// Custom Radio/Checkbox
  .custom-checkbox-label {
    background-color: #ffffff;
    color: #ffffff;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #cccccc;
    width: 22px;
    height:22px;
    margin-right: 15px;

  }

  .custom-checkbox-label:before {
    content: "";
    color: #fff;
    display: inline-block;
    font-size: 20px;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    margin-top: -10px;
  }

  .custom-checkbox:checked + .custom-checkbox-label:before {
    @extend .icon;
    @extend .icon-Check;
    text-align: center;
    font-size: 10px; font-size: 1.0rem;
    font-weight: normal;
    line-height: 20px;
    background-color: #40a80b;
  }

  .custom-checkbox {
      display: none;
  }

  .box-title {
    border-bottom: 1px dotted #454f48;

    h3 {
      color: #454f48;
    }

    a {
      float: right;
      margin-top: -28px;
    }

  }

  /* Selectric select box custom page rules */
  .selectricWrapper {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 52px;
    width: 100%;
    margin-bottom: 0px;

    .selectric {
      background: none;
      border: 0;

      p {
        padding-left: 20px;
        height: 100%;
        line-height: 36px;
      }
      .oa-select-arrow {
        height: 50px;
        left: inherit;
        line-height: 52px;
        right: 0;
        border-left: 0;
      }

    }

    .selectricItems {
      ul {

        li {
          font-family: $font-lato;
          font-size: 14px; font-size: 1.4rem;
          padding: 10px 20px;
          margin-bottom: 0;

          .selected {
            font-family: $font-lato;
            font-size: 14px; font-size: 1.4rem;
            padding-left: 20px;
          }

        }

      }

    }

  }

  .rating-box {
      width: 100px;
      height: 20px;
      position: relative;
      display: inline-block;
  }

  .stars {
      width: 100%;
      height: 100%;
      background: url(../img/stars_cutter-white.png);
      position: absolute;
      top: 0;
      left: 0;
  }

  .rating {
      background: #e39b00;
      width: 100%;
      height: 100%;
  }

  // Remove that pesky fieldset border:
  fieldset {
    border: 0;
  }
  /* End of global styles */

  /* Rules for the rest of the pages */
  .page-title, .box-head {

    h1 {
      text-transform: uppercase;
      border-bottom: 2px solid #454f48;
      padding-bottom: 10px;
    }

  }

  .addresses-list {
    .addresses-primary {

      h2 {
        border-bottom: 1px dotted #454f48;
        color: #454f48;
        font-family: $font-montserrat;
        font-weight: bold;
        font-size: 16px;
        font-size: 1.6rem;
        letter-spacing: -1px;
      }

      /* Container for addresses */
      ol {
        padding: 0px;

        .item {
          font-family: $font-lato;
          background: none;
          border: 0;
          // border-bottom: 2px solid #ccc;
          box-shadow: none;
          padding: 0;

          h3 {

          }

          address {
            font-family: $font-lato;
          }

        }

      }

    }

    .addresses-additional {

      h2 {
        border-bottom: 1px dotted #454f48;
        color: #454f48;
        font-family: $font-montserrat;
        font-weight: bold;
        font-size: 16px;
        font-size: 1.6rem;
        letter-spacing: -1px;
      }

      ol {
        padding: 0px;

        .item {
          font-family: $font-lato;
          background: none;
          border: 0;
          // border-bottom: 2px solid #ccc;
          box-shadow: none;
          padding: 0;

        }

      }

    }
  }

  /* Order History Table */
  .table-responsive {
    overflow-x: hidden;
    width: 100%;
    border: 0;

    #my-orders-table {
      border: 0;
      background-color: #fff;
      border-top: 2px solid $kelly-green;
      box-shadow: 0px 0px 8px #a3a3a3;
      margin: 10px auto;
      width: 98% !important;

      td {
        border-bottom: 1px solid #ccc;
        font-family: $font-lato;
        white-space: nowrap;
        padding: 10px;
        text-align: left;

        .price {
          border-right: 0;
        }
      }

      thead {

        th {
          border-bottom: 1px solid #ccc;
          font-family: $font-lato;
          white-space: nowrap;
          padding: 10px;
          text-align: left;
        }

        .mobile-hide, .laptop-hide {
          display: none;
        }
        @include breakpoint(mobile-and-up) {
          .laptop-hide {
            display: table-cell;
          }
        }
        @include breakpoint(laptop-and-up) {
          .mobile-hide, .laptop-hide {
            display: table-cell;
          }
        }

      }

      tbody {

        tr {

        }

        .mobile-hide, .laptop-hide {
          display: none;
        }
        @include breakpoint(mobile-and-up) {
          .laptop-hide {
            display: table-cell;
          }
        }
        @include breakpoint(laptop-and-up) {
          .mobile-hide, .laptop-hide {
            display: table-cell;
          }
        }

      }

      // There is an issue with the table, this is a fix for the margin since (paginator is position: absolute)
      @media (max-width:479px) {
        margin-top: 10px;
      }

    }

    @include breakpoint(tablet-and-up) {
      #my-orders-table {
        margin-top: 20px;
      }
    }

  }

  /* Order information (when you click order history) */
  .order-info {
    font-family: $font-lato;
    font-size: 14px;
    font-size: 1.4rem;
    color: #454f48;
      dt {

      }

      dd {
        margin: 0;

        #order-info-tabs {
          list-style: none;
          padding: 0;

          li {

          }

        }

      }
  }
  .order-date {
    font-family: $font-lato;
    font-size: 14px;
    font-size: 1.4rem;
    color: #454f48;
  }

  .order-info-box {
    div {

      .box {

        .box-title {

          h2 {
            color: #454f48;
            font-size: 16px; font-size: 1.6rem;
            font-family: $font-montserrat;
            font-weight: bold;
            letter-spacing: -1px;
            line-height: 1.1;
            margin-top: 20px;
            margin-bottom: 10px;
          }
        }

        .box-content {
          font-family: $font-lato;
          font-size: 14px;
          font-size: 1.4rem;
          color: #454f48;
          margin: 14px 0;

          address {
            font-style: normal;
          }

        }

      }

    }

  }

  .order-items {
    .table-caption {
      color: #454f48;
      font-size: 16px; font-size: 1.6rem;
      font-family: $font-montserrat;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 1.1;
      margin-top: 20px;
      margin-bottom: 14px;
      padding-bottom: 10px;
      border-bottom: 1px dotted #454f48;
    }

    .orders-table {
      font-family: $font-lato;
      border: 0;
      background-color: #fff;
      border-top: 2px solid $kelly-green;
      box-shadow: 0px 0px 8px #a3a3a3;
      margin: auto;
      width: 100%;
      display: none;

      thead, tfoot, tbody {
        tr {
          th, td {
            border-bottom: 1px solid #ccc;
            font-family: $font-lato;
            // white-space: nowrap;
            padding: 10px;
            text-align: left;

            .price {
              border-right: 0;
            }
          }

          td:first-of-type {

          }

        }

      }

    }

    #my-orders-table-mobile {
      display: table;

      @include breakpoint(tablet-and-up) {
        display: none;
      }
    }

    #my-orders-table {
      display: none;

      @include breakpoint(tablet-and-up) {
        display: table;
      }
    }

  }

  /* End of order information */

  /* Reviews Table */
  #my-reviews-table, #my-downloadable-products-table {
    @include clearfix();
    border: 0;
    background-color: #fff;
    border-top: 2px solid $kelly-green;
    box-shadow: 0px 0px 8px #a3a3a3;
    margin: 60px 0 0 0;
    min-width: 100%;

    tbody {

      tr {

        td {
          border-bottom: 1px solid #ccc;
          color: #454f48;
          font-family: $font-lato;
          white-space: nowrap;
          padding: 10px;
          text-align: left;

          .product-name {
            font-family: $font-montserrat;
            font-size: 16px; font-size: 1.6rem;
            border-bottom: 1px dotted #454f48;
            color: #454f48;
          }

          .date-created {
            color: #454f48;
          }

          .rating-box {
            margin-left: -5px;

            .stars {
                background: url(../img/stars_cutter-white.png);
            }
          }

          .review-summary {
            padding: 10px 0;
          }

        }

      }

      .mobile-hide, .laptop-hide {
        display: none;
      }
      @include breakpoint(mobile-and-up) {
        .laptop-hide {
          display: table-cell;
        }
      }
      @include breakpoint(laptop-and-up) {
        .mobile-hide, .laptop-hide {
          display: table-cell;
        }
      }
    }

    // There is an issue with the table, this is a fix for the margin since (paginator is position: absolute)
    @media (max-width:479px) {
      margin-top: 0;
    }

  }

  /* Customer Review Details */
  .product-review {
    font-family: $font-lato;

    .page-title {

      h1 {

      }

    }

    .review-details-box {
      background-color: #fff;
      border-top: 2px solid $kelly-green;
      box-shadow: 0px 0px 8px #a3a3a3;
      padding: 10px;

      .product-img-box {

        .img-container {
          text-align: center;
          margin-bottom: 15px;

          a {

            img {

            }

          }

        }


        /* Product Rating */
        .label {
          font-family: $font-lato;
          font-size: 16px; font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: -1px;
          margin: 5px 0;
        }

        .ratings {
          padding: 0;
          border-top: 0;
          border-bottom: 0;

          .rating-box {

          }

          .rating-links {
            a {

            }

            .separator {

            }
          }

        }

      }

      .product-details {
        border-top: 2px solid #ccc;
        padding-top: 10px;

        .product-name {
          font-family: $font-montserrat;
          font-size: 16px; font-size: 1.6rem;
          border-bottom: 1px dotted #454f48;
          color: #454f48;
        }

        h3 {
          font-family: $font-lato;
          font-size: 16px; font-size: 1.6rem;
          font-weight: 600;
          letter-spacing: -1px;
        }

        .ratings-table {

        }

        /* The customer review is in there*/
        // Magento uses data lists for some reason
        dl {
          dt {
            font-weight: bold;
          }
          dd {
            margin: 10px 0px 30px 0px;
          }
        }

      }

    }

  }
  /* End of Customer Review Details */

  /* Customer Tags */
  .tags-list {
    list-style: none;
    font-size: 16px; font-size: 1.6rem;
    padding-left: 0;
  }

  .welcome-msg {
    .hello {
      font-weight: bold;
    }
  }

  /* Wishlist */


  /* End of Wishlist */
  form {

    .fieldset {

      &:nth-of-type(2) {
        border-top: 2px solid #ccc;
      }

      .form-list {
        list-style: none;
        padding-left: 0;

        /* Container for form fields */
        li {

          .customer-name {

            .field {

              .input-box {

                input {
                  @extend .input-texttype-field;
                  border-bottom: 0;
                }

                .validation-failed {
                  border: 1px dashed rgb(244,91,88);
                  background-color: rgb(255,221,218);
                }

                .validation-advice {
                  @extend .validation-required;
                  margin-bottom: 10px;

                  .arrow-up {
                    font-size: 10px;
                    @extend .icon;
                    @extend .icon-ArrowUpIcon;
                  }
                }

              }

              /* Removes overlapping bottom since we need 1px between inputs*/
              &:last-of-type .input-box input {
                border-bottom: 1px solid #ccc;
              }

            }

            .name-firstname {

            }

            .name-lastname {

            }

          }

          /* Removes overlapping bottom since we need 1px between inputs */
          .field {

            .input-box {

              input {
                border-bottom: 0;
              }

            }

            &:last-of-type .input-box input {
              border-bottom: 1px solid #ccc;
            }

          }

          /* Removes overlapping bottom since we need 1px between inputs */
          #email_address {
            border-top: 0;
          }

          .input-box {

            input[type="text"], input[type="password"], select {
              @extend .input-texttype-field;
            }

            input[type=checkbox] {
                display: none;
            }

            #email {
              background: #ffffbe;
            }

            #current_password {
              background: #ffffbe;
            }

            .no-display {
              display: none;
            }

            .validation-failed {
              border: 1px dashed rgb(244,91,88) !important;
              background-color: rgb(255,221,218);
            }

            .validation-advice {
              @extend .validation-required;
              margin-bottom: 10px;

              .arrow-up {
                font-size: 10px;
                @extend .icon;
                @extend .icon-ArrowUpIcon;
              }
            }

          }

          .input-checkbox {
            margin-top: 10px;

            /* Subscribed label */
            label {
              color: #454f48;
              font-family: $font-lato;
              font-size: 14px; font-size: 1.4rem;

              /* Text inside label */
              span {
                width: 200px;
                margin-left: 20px;
                margin-top: -10px;
                position: absolute;
                display: block;
              }
            }
          }

        }

        .control {
          // display: inline-block;
          margin-top: 10px;

          /* Subscribed label */
          label {
            color: #454f48;
            font-family: $font-lato;
            font-size: 14px; font-size: 1.4rem;

            /* Text inside label */
            span {
              width: 250px;
              margin-left: 20px;
              margin-top: -10px;
              position: absolute;
              display: block;
            }
          }
        }
      }

    }

    .buttons-set {
      margin-bottom: 50px;

      .required {
        @extend .validation-required;
      }

      .back-link {

      }

      /* Form submit button */
      button {
        width: 104px;
        height: 52px;
        float: right;
        margin-top: -45px
      }

      @include breakpoint(tablet-and-up) {
        margin-bottom: 10px;
      }

    }

  }

  /* Width and positioning of the form on the page */
  @include breakpoint(tablet-and-up) {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    margin: auto;
  }

  @include breakpoint(laptop-and-up) {
    @include make-md-column(8);
    @include make-md-column-offset(2);
    margin: auto;
  }

}

/*
  Order print page
  This class is attached to the <body>
*/
.page-print {

  h1 {
    color: #40a80b;
  }

  /* Global h2 rule for the print page */
  h1, h2 {
    color: #454f48;
    font-size: 16px; font-size: 1.6rem;
    font-family: $font-montserrat;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .print-head {

  }

  .col2-set {

    .col-1, .col-2 {

      address {
        font-family: $font-lato;
        font-style: normal;
      }

    }

    .col-1 {

    }

    .col-2 {

      p {
        font-family: $font-lato;
      }

    }

  }

  #my-orders-table {
    font-size: 14px;
    font-size: 1.4rem;
    border: 0;
    background-color: #fff;
    border-top: 2px solid $kelly-green;
    box-shadow: 0px 0px 8px #a3a3a3;
    margin-bottom: 20px;

    thead {
      display: none;
    }

    thead, tfoot, tbody {
      tr {
        th, td {
          border-bottom: 1px solid #ccc;
          font-family: $font-lato;
          font-size: 14px;
          font-size: 1.4rem;
          white-space: nowrap;
          padding: 5px;
          text-align: left;

          .price {
            border-right: 0;
          }

          h3 {
            font-size: 16px;
            font-size: 1.6rem;
          }
        }

      }

    }

  }

  .buttons-set {
    margin-bottom: 50px;

    /* Form button */
    .button {
      background: #40a80b;
      border: 0;
      color: #ffffff;
      display: inline;
      font-family: $font-montserrat;
      font-size: 14px; font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: -1px;
      text-transform: uppercase;
      width: 194px;
      height: 40px;
    }

  }

}
/* End of order print page */