/**
*
* Dashboard Page Navigation SASS Rules
* @Author: Nabil Jamaleddine
* @Desc: Customized SASS declarations for the dashboard page navigation
*
**/

.block-account {

  .block-title {
    color: #454f48;
    font-family: $font-montserrat;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-bottom: 2px solid #454f48;
    padding-bottom: 10px;
  }

  .block-content {
    ul {
      list-style: none;
      padding-left: 0;

      li {
        font-family: $font-lato;
        font-size: 16px; font-size: 1.6rem;
        margin-bottom: 10px;

        a {
          color: #454f48;

        }

      }
      .dashboard-link-hide {
        display: none;
        @include breakpoint(tablet-and-up){
          display:block;
        }
      }
      .current {
        color: #40a80b;
      }

      .last {

      }

    }

  }

}
