body.sales-order-history {
  div.pager {

  }
  div.limiter {
    label {
      background-color: inherit;
      color: #454f48;
      display: inline-block;
      position: relative;
      cursor: none;
      padding: 0;
      border: none;
      width: inherit;
      height: inherit;
      margin-right: 0;
    }
  }
  div.oa-search-pagination {

  }
}