body.sendfriend-product-send {
  div.send-friend {
    .placeholder {
      // For placeholder polyfill
      //color: #000000;
    }
    input {
      -webkit-border-radius: 0;
      border-radius: 0;
    }
    ::-webkit-input-placeholder {
     //color: #000000;
    }

    :-moz-placeholder { /* Firefox 18- */
       //color: #000000;
       //opacity: 1;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       //color: #000000;
       //opacity: 1;
    }

    :-ms-input-placeholder {
       //color: #000000;
    }
    h1 {
      color: #454f48;
      font-family: $font-montserrat;
      font-size: 20px; font-size: 2.0rem;
      letter-spacing: -1px;
      text-transform: uppercase;
      border-bottom: 2px solid #454f48;
      margin-bottom: 20px;
      padding-bottom: 5px;
    }
    h2 {
      color: #40A80B;
      font-family: $font-montserrat;
      font-size: 16px; font-size: 1.6rem;
      letter-spacing: -1px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        &.additional-row {
          
        }
        
      }
      &#recipients_options {
        li {
          &.fields {
            padding-bottom: 10px;
            border-bottom: 2px solid #cccccc;
          }
        }
      }
    }
    input {
      border: 1px solid $lig-gr;
      width: 100%;
      height: 50px;
      padding-left: 15px;
    }
    @include breakpoint(phone-and-up) {
      li.fields {
        display: inline-block;
        width: 100%;
        div {
          display: inline;
          &.field {
            width: 48%;
          }
          &.left {
            float: left;
            clear: both;
          }
          &.right {
            float: right;
          }
        }
      }
    }
    textarea {
      border: 1px solid #cccccc;
      width: 100%;
      height: 150px;
      padding-left: 15px;
      padding-right: 20px;
      padding-top: 13px;
    }
    input, textarea {
      margin: 8px 0px;
    }
    a {
      &.btn-remove {
        float: right;
      }
    }
    div.buttons-set {
      button {
        color: #ffffff;
        font-weight: bold;
        background-color: $kel-gr;
        border: 0;
        width: 40%;
        height: 50px;
        //max-width: 300px;
        text-transform: uppercase;
        @include breakpoint(tablet-and-up) {
          max-width: 120px;
        }
        &.send {
          float: right;
        }
        &.recipient {
          float: left;
        }
      }
    }
  }
}