/**
*
* Featured Products Masonry Rules
* @Author: Norm
* @Desc: Customized SASS declarations for featured products masonry
*
**/

$box-shadow-color: #a3a3a3;;
$price-tag-dotted-border: #919191;;

$color-savings: $kelly-green;
$color-sale: $scarlet-red;
$color-new: $tangerine-orange;

.featured-products-masonry {
	.featured-products-container {
		@include make-row();

		.title {
			color: $cor-gr;
		    font-family: "Montserrat", sans-serif;
		    font-size: 20px; font-size: 2rem;
		    font-weight: bold;
		    letter-spacing: -1px;
			text-transform: uppercase;

			padding-bottom: 10px;
			margin: 20px 10px;
			border-bottom: 2px solid $cor-gr;
		}
	}

	.featured-product {
		@include make-xs-column(12);
		@include make-sm-column(4);

		padding-left: 10px;
		padding-right: 10px;

		height: 141px;
		margin-bottom: 20px;

		&:hover {
			text-decoration: none;
		}

		&.hidden {
			display: none;
		}

		@media (min-width: $screen-sm) {
			height: 130px;
		}

		@media (min-width: $screen-md) {
			height: 141px;
		}

		@media (min-width: $screen-lg) {
			height: 175px;
		}

		.featured-product-inner {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: white;
			box-shadow: 0px 0px 12px $box-shadow-color;
			overflow: hidden; // stop overflowing images
		}

		&:first-child, &.first {
			@media (min-width: $screen-sm) {
				height: 280px;
			}

			@media (min-width: $screen-md) {
				height: 303px;
			}

			@media (min-width: $screen-lg) {
				height: 370px;
			}

			.featured-product-image {
				@media (min-width: $screen-sm) {
					float: none;
					margin: 0 auto;
					padding-top: 10px;
				}

				@media (min-width: $screen-sm) and  (max-width: $screen-sm-max) {
					width: 90%;
					margin: 0 auto;
				}

				@media (min-width: $screen-md) {
					width: 70%;
				}

				@media (min-width: $screen-lg) {
					width: 75%;
				}

				.featured-product-image-inner {
					overflow: hidden;

					@media (min-width: $screen-sm) {
						display: block;
					}
				}
			}

			.featured-product-info {
				@media (min-width: $screen-sm) {
					position: absolute;
					bottom: 0;
					float: none;

					width: 100%;
					height: auto;
					margin-top: 0;

					.featured-product-prices {
						margin-bottom: 0;
					}

					.featured-product-name {
						position: absolute;
						right: 0;
						bottom: 0;

						width: 46%;
						height: 52px;

						color: white;
						text-align: left;

						padding: 5px 10px;
						border-left: 2px dotted $price-tag-dotted-border;
					}
				}

				@media (min-width: $screen-md) {
					.price-tag-head {
						width: 36px;
					}

					.price-tag-body {
						padding-bottom: 12px;
					}

					.featured-product-name {
						height: 69px;
						padding: 10px 15px;
					}

					.featured-product-price-sale {
						font-size: 32px; font-size: 3.2rem;
					}

					.featured-product-price-regular {
						font-size: 14px; font-size: 1.4rem;
					}
				}
			}
		}

	}

	.featured-product-image {
		display: table;
		float: left;

		height: 100%;
		width: 55%;

		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			width: 45%;
		}

		.featured-product-image-inner {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			padding-left: 8px;
			padding-right: 8px;
			margin-top: 9px;

			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
				display: block;
			}
		}

		img {
			max-width: 135px;
			width: 100%;

			@media (min-width: $screen-sm) {
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.featured-product-tags {
		position: absolute;

		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			position: relative;
		}
	}

	.featured-product-info {
		float: left;

		width: 45%;
		height: 100%;

		margin-top: 15px;

		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
			width: 55%;
			margin-top: 10px
		}

		.featured-product-info-inner {
		}

		.featured-product-prices {
			margin-bottom: 10px;

			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
				margin-bottom: 5px;
			}

			.price-tag-head {
				width: 27px;
				display: inline-block;
				float: left;

				> img {
					max-width: 100%;
				}
			}

			.price-tag-body {
				background-color: $cor-gr;
				padding: 11px;
				overflow: hidden;
			}
		}

		.featured-product-name {
			color: black;
			text-align: right;
			padding-right: 10px;
		}

		.featured-product-price-sale {
			color: #ffffff;
			font-family: "Montserrat"’, sans-serif;
			font-size: 20px; font-size: 2rem;
			font-weight: bold;
			letter-spacing: -1px;
			line-height: 1em;
		}

		.featured-product-price-regular {
			color: #bbcc00;
			font-family: "Lato", sans-serif;
			font-size: 10px; font-size: 1rem;
			line-height: 1em;
		}
	}
}