/**
*
* Footer SASS Rules
* @Author: Rafael
* @Desc: Customized SASS declarations for global Footer
*
**/
footer {
	margin-top: 50px;
	border-top: 10px solid #99a700;
	font-size: 16px;
	font-size: 1.6rem;
	background-color: #454f48;
	color: #ffffff;
	min-height: 120px;

	/* Tablets-Landcape & Laptops -- 992px and up */
	@include breakpoint(laptop-and-up) {
		border-top: 15px solid #99a700;
		font-size: 14px;
		font-size: 1.4rem;
		padding-top: 40px;
	}

	.footer-inner {
		@extend .wrapper;
		padding-bottom: 10px;
	}

	.left-footer, .right-footer, .social-footer {
		position: relative;

		@include breakpoint(tablet-and-up) {
			float: none;
		}

		@include breakpoint(laptop-and-up) {
			float: left;
		}
	}

	.footer-left{
		@include make-md-column(6.5);

		> ul{
			list-style: none;
			padding: 0px;
			margin: 0px;

			li{
				border-bottom: 2px solid #2c362f;
				padding: 16px 0 16px 0;

				@include breakpoint(laptop-and-up) {
					border-bottom:none;
					float:left;
					padding: 0 15px 0 0;
				}

				a{
					color: #ffffff;
					display:block;
					text-align: center;

					@include breakpoint(laptop-and-up) {
						text-align: left;
					}
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}

	.footer-right {
		@include make-md-column(3.25);
		text-align: center;

		address {
			text-align: center;
			margin-top: 15px;
			font-size: 14px;
			font-size: 1.4rem;

			@include breakpoint(laptop-and-up) {
				margin-top: 0px;
				text-align:inherit;
				display:inline-block;
			}
		}
	}

	.footer-social {
		@include make-md-column(2.25);
		text-align: right;
	}

	#social-media {
		padding: 0;
		list-style: none;
		text-align:center;

		@include breakpoint(laptop-and-up) {
			display: inline-block;
			text-align: inherit;
			margin: -5px 0 0 0;
		}

		li {
			display:inline;
			font-size: 25px;
			padding: 0 7px 0 0;

			a {
				span{
					padding: 0 5px 0 5px;
					color: #ffffff;
					&.icon-GoogleIcon:before{
						font-family: $font-oaShopIcon;
						content: "\e609";
					}
					&.icon-FacebookIcon:before{
						font-family: $font-oaShopIcon;
						content: "\e60a";
					}
					&.icon-Twitter:before{
						font-family: $font-oaShopIcon;
						content: "\e601";
					}
				}
			}

			&.instagram {
				a {
					text-decoration: none;

					&:hover {
						text-decoration: none;
					}
					img {
						height: 27px;
						vertical-align: -5px;
					}
				}
			}
		}
	}

	.back-to-top{
		margin: 20px 15px 40px 15px;
		border-bottom: 2px solid #2c362f;
		height: 28px;
		@include breakpoint(laptop-and-up) {
			display:none;
		}

		a{
			text-align: center;
			display: block;
			position: absolute;
			right: 0;
			left: 0;
			margin: 0 auto;
			height: 56px;
			width: 56px;
			background-color: #99a700;
			color: #ffffff;

			span{
				&.icon-BacktoTop:before {
					font-family: $font-oaShopIcon;
					content: "\e60b";
					display:block;
					margin-top: 19px;
				}
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	.authorize-seal {
		background-color: #454F48;
		min-height: 80px;
		text-align: center;
		clear: both;
		width: 100%;

		.AuthorizeNetSeal {
			display: block;
			padding: 10px 0px;
			margin: 0 auto;
			@include breakpoint(tablet-and-up) {
				padding: 10px 0px 20px 0px;
				margin: 0;
				display: inline-block;
			}
		}
		.TrustWaveSeal {
			display: block;
			padding: 10px 0px;
			margin: 0 auto;
			@include breakpoint(tablet-and-up) {
				display: inline-block;
				margin: 0px 0px 0px 20px;
				padding: 0px;
				bottom: 2px;
				position: relative;
			}
		}
		.SiteLockSeal {
			display: block;
			padding: 10px 0px;
			margin: 0 auto;
			@include breakpoint(tablet-and-up) {
				display: inline-block;
				margin: 0px 0px 0px 20px;
				padding: 0px;
				bottom: 2px;
				position: relative;
			}
		}
	}
}