/**
*
* Forgot Password Page SASS Rules
* @Author: Nabil Jamaleddine
* @Desc: Customized SASS declarations for the forgot password page
*
**/

.forgotpassword-container {
  /* Global Login/Create Forgot passsword Page Styles */
  h1, h3, h4 {
    font-family: $font-montserrat;
  }

  h2, h5, h6 {
    font-family: $font-lato;
  }

  h1 {
    color: #454f48;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2 {
    color: #000000;
    font-size: 26px; font-size: 2.6rem;
    line-height: 28px;
    margin-top: 10px;
  }

  h3 {
    color: #40a80b;
    font-size: 48px; font-size: 4.8rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 15px; font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 12px; font-size: 1.2rem;
  }

  h6 {
    color: #000000;
    font-size: 14px; font-size: 1.4rem;
  }

  p {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }

  a {
    color: #40a80b;
    font-family: $font-lato;
    text-decoration: none;
  }

  .button {
    background: #40a80b;
    border: 0;
    color: #ffffff;
    display: inline;
    font-family: $font-montserrat;
    font-size: 14px; font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 194px;
    height: 40px;

  }

  .validation-required {
    color: #f4140a;
    font-family: $font-lato;
    font-size: 12px; font-size: 1.2rem;
  }

  .input-texttype-field {
    border: 1px solid #cccccc;
    width: 100%;
    max-width: 280px;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    font {
      family: $font-lato;
      size: 16px; size: 1.6rem;

    }
  }

  /* End of global styles */

  .page-title {

    h1 {
      text-transform: uppercase;
      border-bottom: 2px solid #454f48;
      padding-bottom: 10px;
    }

  }

  form {

    .fieldset {

      h2 {
        color: #40a80b;
        font-family: $font-montserrat;
        font-size: 16px; font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: -1px;
      }

      /* ul form list for login*/
      .form-list {
        list-style: none;
        padding-left: 0;

        /* Container for form fields */
        li {

          .input-box {

            input {
              @extend .input-texttype-field;
            }

            .validation-failed {
              border: 1px dashed rgb(244,91,88);
              background-color: rgb(255,221,218);
            }

            .validation-advice {
              @extend .validation-required;
              margin-bottom: 10px;

              .arrow-up {
                font-size: 10px;
                @extend .icon;
                @extend .icon-ArrowUpIcon;
              }

            }

          }

        }

      }

      .buttons-set {

        .required {
          @extend .validation-required;

        }

        .back-link {

        }

        /* Form submit button */
        button {
          width: 104px;
          height: 52px;
          float: right;
          margin-top: -45px
        }

      }

    }

  }

  @include breakpoint(tablet-and-up) {
    @include make-sm-column(6);
    @include make-sm-column-offset(3);

    input[type="text"], input[type="password"] {
      max-width: 100% !important;
    }

  }

  @include breakpoint(laptop-and-up) {
    @include make-md-column(6);
    @include make-md-column-offset(3);
  }

}