/**
*
* Global Notices SASS Rules
* @Author: Rafael
* @Author: Nabil
* @Desc: Customized SASS declarations for global notices
*
**/
.global-site-notice {

	.notice-inner {

	}

	/* Javascript is disabled */
	.noscript {

	}

	/* Demo Store Notice */
	.demo-notice {

	}

	/* Cookies Disabled Notice */
	.notice-cookie {

	}

}