/** 
*
* Header SASS Rules
* @Author: Rafael, Steven
* @Desc: Customized SASS declarations for the header which includes: [logo, search and @imports the main-nav]
*        - Using Mobile-First approach
*        - See _globals.scss for all variable definitions
**/

header {
  position: relative;
  background-color: $mobile-bg-color;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  z-index: 300;
  .header-inner {
    @extend .wrapper;
    position: relative;
    height: 100%;
  }

  /* Tablets -- 768px and up */
  @include breakpoint(tablet-and-up) {
    height: 130px;
    background-color: $desktop-bg-color;
  }

  a {
    color: white;
  }

  /* Logo */
  .logo {
    
    img {
      /* Mike Lee Responsive Logo */
      position: absolute;
      top: 20%;
      left: 20%;
      width: 115px;
      @include breakpoint(sm-phone-and-up) {
        left: 17%;
      }
      @include breakpoint(phone-and-up) {
        top: 15%;
        width: 135px;
        left: 37%;
      }
      @include breakpoint(tablet-and-up) {
        left: 0;
        top: 20%;
        width: 267px;
      }
    }
  }

  /* Mobile Icon */
  .icon-menu {
    display: block;
    font-size: 15px;
    width: 53px;
    height: 56px;
    position: absolute;
    left: 0px;
    padding: 20px 0px 0px 10px;
    color: #454f48;

    &:before {
      font-family: $font-oaShopIcon;
      @extend .icon-MenuIcon;
    }

    &.active {
      color: #FFF;
      background-color: #454f48;
    }

    &:hover {
      text-decoration: none;
    }

    /* Tablets -- 768px and up */
    @include breakpoint(tablet-and-up) {
      display: none;
    }
  }

  /* Account Links */
  @import "toplinks";

  /* Welcome Message */
  .welcome-msg {
    display: none;

    /* Tablets -- 768px and up */
    @include breakpoint(tablet-and-up) {

    }

  }

  /* Search - Need to add mobile rules */
  #search-container, .mobile-account {
    background-color: $desktop-bg-color;
    display: block;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 56px;
    left: 0px;
    width: 100%;
    z-index: 2;

  }

  .mobile-account {
    height: 0;
    text-align: center;
    @include transition(0.2s ease);

    &.show-account {
      height:57px;
      padding-top: 10px;
    }

    .button {
      display: inline-block;
      padding: 8px 16px;
      font-family: $font-montserrat;
      font-size: 15px; font-size: 1.5rem;
      background-color: $kelly-green;

      &.btn-login, &.btn-logout {
        margin-left: 10px;
      }

      &, &:hover, &:active, &:visited {
        color: white;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  #search-container {
    /* Tablets -- 768px and up */
    @include breakpoint(tablet-and-up) {
      display:block;
      right: 3%;
      top: 25%;
      left: auto;
      width: auto;
    }

    form {
      
      height:0px;
      margin-left: auto;
      margin-right: auto;
      width: 280px;
      padding:none;
      @include transition(0.2s ease);
      
      @include breakpoint(tablet-and-up){
        height: 36px;
        margin-left: none;
        margin-right: none;
        width: auto;
      }
      .form-search{
        height: 36px;
        
        input{
          width: 240px;
          border: none;
          height: 35px;
          padding: 0 0 0 10px;
          /* Tablets -- 768px and up */ 
          @include breakpoint(tablet-and-up){
            width: 313px;
          }
        }
        label{
          display:none;
        }

        button{
          background-color:#3CA534;
          border: none;
          color: #ffffff;
          margin-left: -4px;
          height: 35px;
          width: 40px;
          vertical-align: bottom;
          /* Tablets -- 768px and up */
          @include breakpoint(tablet-and-up){
            background-color: $mobile-bg-color;
          }
        }
      }
    }
    &.show-search{
      
      form{
        @include transition(0.2s ease);
        height:57px;
        padding: 10px 0 0 0;
      }
    }
  }
}