/**
*
* Individual Product Page SASS Rules
* @Author: Nabil Jamaleddine
* @Desc: Customized SASS declarations for the individual product page
*
**/

/** To be added to _global.scss **/
/* Global Variables */
$divider-color: #cccccc;
$divider-dark-color: #000000;

/* Individual Product Page CSS */
.product-view {

  /* Global Product Page Styles */
  h1, h3, h4 {
    font-family: $font-montserrat;
  }

  h2, h5, h6 {
    font-family: $font-lato;
  }

  h1 {
    color: #454f48;
    font-size: 20px;
    font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2 {
    color: #000000;
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 28px;
  }

  h3 {
    color: #40a80b;
    font-size: 48px;
    font-size: 4.8rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 13px;
    font-size: 1.3rem;
  }

  h6 {
    color: #000000;
    font-size: 14px;
    font-size: 1.4rem;
  }

  p {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px;
    font-size: 1.4rem;
  }

  a {
    color: #40a80b;
    font-family: $font-lato;
    text-decoration: none;
  }

  .button {
    background: #40a80b;
    border: 0;
    color: #ffffff;
    font-family: $font-montserrat;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 194px;
    height: 40px;
  }

  /* Reusable, toolbox kind of class */
  .screen-reader-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  // Left Image Area
  .product-img-container {
    @include make-sm-column(4, 0px);
    margin: auto;
    position: relative;
    z-index: 2; /* Allows us to hover over the zoom image*/

    .zoom {
      background-color: #fff;
      box-shadow: 0px 0px 8px #a3a3a3;
      margin: 20px 15px 20px 5px;
      @include breakpoint(tablet-and-up) {
        margin: 20px 5px;
      }

      .full-image {
        opacity: 0;
        position: absolute;
      }
    }
    .more-views {
      .slider {
        .flexslider {
          .media-tag-holder {
            margin-left: 5px;
          }
        }
      }

      /* Flex Slider Carousel */
      #carousel {
        width: 71.8%;
        margin: -70px auto 0; /* Override default flex-slider rule allowing carousel to show up correctly under image */
        /* Carousel width breakpoint for desktop and up */

        @include breakpoint(desktop-and-up) {
          width: 75%;
        }

        .flex-viewport {
          height: 120px;
          margin: auto;
          padding-top: 15px;
        }

        ul {
          list-style-type: none;

          .gallery-thumb {
            box-shadow: 0px 0px 8px #a3a3a3;
            display: inline-block;
            margin-right: 10px;
            height: 94px;
            width: 94px;

            &:first-of-type {
              margin-left: 10px;
            }

            a {

              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  // Right Product Info Area
  .product-details-container {
    @include make-sm-column(8, 20px);

    .details-wrapper {
      margin: 0;
      @media only screen and (min-width: 760px) {
        margin-left: 20px;
      }
    }

    // Product Reviews
    .product-reviews {
      display: block;
      margin: 10px 0px;
      padding: 0px 0px 0px 2px;
      border-top: 2px solid $divider-color;
      border-bottom: 2px solid $divider-color;

      .ratings {
        padding: 5px 0px;

        .rating-links {
          display: inline;
        }
        .separator {
          display: inline;
        }
        .rating-box {
          height: 20px;
          width: 110px;
          top: 2px;
          position: relative;
          display: inline-block;
          .stars {
            width: 100%;
            height: 100%;
            background: url(../img/stars_cutter.png);
            position: absolute;
            top: 0;
            left: 0;
          }

          .rating {
            background: #e39b00;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    // Price Information
    .price-info {
      margin: 5px 0px 10px;
      .price-box {
        // Old price (Regular Price)
        .old-price {
          color: #9C9C9C;
          .price {
            border: none;
            width: auto;
            float: none;
            display: inline;
          }
        }

        // Special price
        .special-price {
          .price-label {
            display: none;
          }

          .price {
            color: #40A80B;
            font-weight: bold;
            border: none;
            width: auto;
            float: none;
            display: inline;
          }
        }

        // Regular Price, no special price
        .regular-price {
          .price {
            font-family: $font-montserrat;
            color: #40A80B;
            font-size: 48px;
            font-size: 4.8rem;
            font-weight: bold;
            border: none;
            width: auto;
            float: none;
            display: inline;
          }
        }
      }
    }

    .avail-email {
      margin: 10px 0px;
      position: relative;

      .availability {
        display: inline-block;

        .out-of-stock {
          color: #CC0033;
        }
      }
      .email-friend {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 14px;
      }
    }

    .product-info {
      margin: 10px 0px 20px;

      .short-description {
        margin: 10px 0px;
      }

      .product-options {
        margin: 20px 0px;
        clear: both;

        // Label area
        dt {
          margin: 5px 0px;
          label {
            font-family: $font-montserrat;
            font-size: 1.5rem;
            font-weight: bold;

            em {
              color: #CC0033;
              margin-right: 4px;
            }
          }
        }
        // Dropdown select area
        dd {
          margin: 2px 0px 5px;

          select, input {
            border: 1px solid #CCC;
            height: 30px;
            width: 65%;
            @include breakpoint(laptop-and-up) {
              width: 35%;
            }

            &.validation-failed {
              border: 1px solid #CC0033;
            }
          }

          select {
            text-align: center;
            color: #40A80B;
            font-weight: bold;
            font-size: 15px;
          }

          .validation-advice {
            margin: 2px 0px;
            color: red;
            font-size: 12px;
          }
        }

        .required {
          font-size: 12px;
          span {
            color: #CC0033;
          }
        }
      }

      .product-options-bottom {
        margin: 10px 0px;
      }

      .add-to-cart {
        margin: 40px 0px;
        padding: 15px 0px;
        border-top: 2px solid #cccccc;
        border-bottom: 2px solid #cccccc;

        .qty-share-wrapper {
          margin: 10px 0px 10px;
          .qty-wrapper {
            display: inline-block;
            margin-left: 5px;

            label {
              font-family: $font-montserrat;
              font-size: 1.5rem;
              font-weight: bold;
              margin-right: 4px;
            }

            input {
              padding: 5px;
              height: 30px;
              width: 45px;
              border: 1px solid #CCC;
            }
          }
          .share-product {
            float: right;
            display: inline-block;

            h4 {
              display: inline-block;
              margin: 0 2px 0 0;
              vertical-align: 12px;
            }

            .addthis_toolbox {
              display: inline-block;
            }
          }
        }
      }
        
      .add-to-cart-buttons {
        margin: 10px 0px;
        text-align: center;
        @include breakpoint(tablet-and-up) {
          text-align: left;
        }

        .btn-cart {
          display: inline;
          margin-right: 5px;
        }

        .wishlist {
          display: inline;

          a {
            @extend .button;
            background-color: #40A80B;
            display: inline-block;
            text-align: center;
            width: 40px;
            padding: 5px;
            vertical-align: top;
            font: {
              size: 1.8rem;
              weight: normal;
            }

            img {
              width: 25px;
            }
          }
        }
      }
    }
  }

  .tabs {
    clear: both;
    margin: 40px 0px;

    // Desktop Tabs
    ul.toggle-tabs {
      display: none; // hidden on mobile
      margin: 0 0 2px 0;
      padding: 0;
      list-style-type: none;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      @media only screen and (min-width: 600px) {
        display: block;
        width: 100%;
        position: relative;
      }

      li {
        float: left;
        margin-right: 5px;
        border-top: 2px solid #CCC;
        border-left: 2px solid #CCC;
        border-right: 2px solid #CCC;

        &:hover {
          cursor: pointer;
        }

        > span {
          display: inline-block;
          padding: 15px 30px;
          font-weight: bold;
        }

        &.current {
          > span {
            background-color: #F2F2F2;
          }
        }

        &.current {
          border-top: 2px solid #40A80B;
        }
      }
    }

    // Moible Tabs
    dl.collateral-tabs {
      margin: 0;
      padding: 0;
      width: 100%;

      // Heading Titles
      dt.tab {
        padding: 20px 0px 20px 20px;
        margin: -2px 0 0 0;
        font-family: 'oaShopIcon';
        speak: none;
        font-size: 11px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        text-rendering: optimizeLegibility;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border-width: 2px;
        border-style: solid;
        border-color: #CCC;
        position: relative;
        display: block;

        @media only screen and (min-width: 600px) {
          display: none;
        }
        // Arrow effect
        &:before {
          content: "\e60f";
          position: absolute;
          right: 20px;
          top: 23px;
        }

        span {
          font-family: $font-montserrat;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      // Tab Containers Hidden initially
      dd.tab-container {
        display: none;
        margin: -2px 0px 0px 0px;
        border: 2px solid #CCC;

        &.current {
          @media only screen and (min-width: 600px) {
            margin-top: -4px;
            background-color: #F2F2F2;
            display: block;
          }
        }

        .tab-content {
          padding: 10px 7px;

          h2 {
            display: none;
          }

          h4.collapse-header {
            display: none;
          }


          #tab-reviews, .reviews {
            margin: 10px 0px;

            & > dl {
              padding: 0 0 0 10px;
              border-left: 2px solid #40A80B;

              dt {
                margin-bottom: 4px;
                span {
                  font-weight: bold;
                }
              }

              dd {
                margin: 5px 0px 3px 1px;

                .ratings-table {

                  .rating-box {
                    height: 20px;
                    width: 100px;
                    position: relative;
                    display: inline-block;

                    .stars {
                      width: 100%;
                      height: 100%;
                      background: url(../img/stars_cutter.png);
                      position: absolute;
                      top: 0;
                      left: 0;
                    }

                    .rating {
                      background: #e39b00;
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }
            }

            h4 {
              color: #40A80B;
            }

            // FORM
            fieldset {
              border: none;
              padding: 0;
              margin-bottom: 10px;

              p {
                margin: 2px 0px 12px;

                .required {
                  color: #CC0033;
                }
              }

              .review-container {
                border-top: 2px solid #CCC;
                border-bottom: 2px solid #CCC;
                padding: 20px 0px;
                table#product-review-table {
                  width: 100%;

                  // Table headings
                  thead {

                  }

                  // Table radio options
                  tbody {
                    tr {

                      th {

                      }

                      td {
                        /* Radio buttons to be converted to checkboxes for reviews. */
                        .custom-checkbox-label {
                          background-color: #ffffff;
                          color: #ffffff;
                          display: inline-block;
                          position: relative;
                          cursor: pointer;
                          padding: 10px;
                          border: 1px solid #cccccc;
                          width: 16px;
                          height: 16px;
                          margin-left: 4px;

                        }

                        .custom-checkbox {
                            display: none;
                        }

                        .custom-checkbox-label:before {
                          content: "";
                          display: inline-block;
                          width: 20px;
                          height: 20px;
                          position: absolute;
                          left: 0;
                          margin-top: -10px;
                        }

                        .custom-checkbox:checked + .custom-checkbox-label:before {
                          @extend .icon;
                          @extend .icon-Check;
                          text-align: center;
                          font-size: 10px; font-size: 1.0rem;
                          font-weight: normal;
                          line-height: 20px;
                          background-color: #40a80b;
                        }

                      }
                    }
                  }
                }

                .validation-advice {
                  color: #f4140b;
                }
              }

              ul.form-list {
                margin: 10px 0 0 0;
                padding: 0;
                list-style-type: none;

                li {
                  margin: 5px 0px;
                  label {
                    font-weight: bold;

                    em {
                      color: #CC0033;
                    }
                  }

                  .input-box {
                    margin: 2px 0px 10px;
                    input {
                      border: 1px solid #CCC;
                      width: 90%;
                      height: 35px;
                      @include breakpoint(tablet-and-up) {
                        width: 50%
                      }

                      .validation-advice {
                        color: #f4140b;
                      }
                    }
                    textarea {
                      border: 1px solid #CCC;
                      width: 90%;
                      height: 120px;
                      @include breakpoint(tablet-and-up) {
                        width: 50%
                      }
                    }
                  }
                }
              }
            }
          }


        }
      }
    }

    // When clicked
    &.accordion-open {

      // Mobile
      .collateral-tabs {
        // Heading when clicked (arrow)
        dt.tab {
          &.current {
            border-top-color: #40A80B;
            &:before {
              content: "\e60e";
            }
          }
        }
        // Container Expans
        dd.tab-container {
          &.current {
            display: block;
          }
        }
      }
    }
  }
}

body.catalog-product-view {
  .carousel {
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}