/* Layouts */
/* Using Bootstrap3 Mixins from _mixins.scss

/* Default Variables */
/* Main Page Wrapper */
.wrapper {
	@include container-fixed();

  @media (min-width: $screen-sm) {
    width: $container-sm;
  }
  @media (min-width: $screen-md) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

/* Layout Wrapper (Defines 'row' class for Bootstrap3) */
.layout {
	@include make-row();
	min-height: 700px;
}

/* 1-Column -- Content */
.col1 {
	/* Main Container */
	.main {
		@include make-md-column(12);
	}
}

/* 2-Column -- Content|Right Sidebar */
.col2-right {

	/* Main Container */
	.main {
		@include make-md-column(8);
	}


	/* Right Sidebar */
	.right-sidebar {
		@include make-md-column(4);
	}

}

/* 2-Column -- Left Sidebar|Content */
.col2-left {

	/* Main Container */
	.main {
		@include make-md-column(8);
	}

	/* Left Sidebar */
	.left-sidebar {
		@include make-md-column(4);
	}
}

/* 3-Column -- Left|Content|Right */
.col3 {

	/* Main Container */
	.main {
		@include make-md-column(6);
	}

	/* Left Sidebar */
	.left-sidebar {
		@include make-md-column(3);
	}

	/* Right Sidebar */
	.right-sidebar {
		@include make-md-column(3);
	}
}