.left-sidebar {

	.block-layered-nav {

		.block-title {
			border: 2px solid #454f48;
			border-width: 0 0 2px 0;
			color: #454f48;
			font-family: 'Montserrat', sans-serif;
			font-size: 20px;
			font-size: 2.0rem;
			font-weight: 700;
			letter-spacing: -1px;
			padding-bottom: 7px;
			text-transform: uppercase;
			margin-top: 15px;
			margin-bottom: 10px;
		}

		.block-content {

			dl {
				margin: 20px 0 0 0;

				dt {
					border: 2px solid #cccccc;
					padding: 10px;
					color: #454f48;
					font-family: 'Montserrat', sans-serif;
					font-size: 16px;
					font-size: 1.6rem;
					font-weight: 700;
					letter-spacing: -1px;
					margin: 0;
				}

				dd {
					margin: 0;
					border: 2px solid #cccccc;
					border-width: 0 2px 2px;
					padding: 10px;

					ol {
						margin: 0;
						padding: 0;
						list-style-type: none;

						li {
							margin: 5px 0px;
						}
					}
				}
			}
		}
	}
}