/**
*
* Login/Create Account Page SASS Rules
* @Author: Nabil Jamaleddine
* @Desc: Customized SASS declarations for the login/create account page
*
**/

.account-loginlogout {
  /* Global Login/Create Account Page Styles */
  h1, h3, h4 {
    font-family: $font-montserrat;
  }

  h2, h5, h6 {
    font-family: $font-lato;
  }

  h1 {
    color: #454f48;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2 {
    color: #000000;
    font-size: 26px; font-size: 2.6rem;
    line-height: 28px;
    margin-top: 10px;
  }

  h3 {
    color: #40a80b;
    font-size: 48px; font-size: 4.8rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h4 {
    font-size: 15px; font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 12px; font-size: 1.2rem;
  }

  h6 {
    color: #000000;
    font-size: 14px; font-size: 1.4rem;
  }

  p {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }

  a {
    color: #40a80b;
    font-family: $font-lato;
    text-decoration: none;
  }

  .button {
    background: #40a80b;
    border: 0;
    color: #ffffff;
    display: inline;
    font-family: $font-montserrat;
    font-size: 14px; font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 194px;
    height: 40px;

  }

  .validation-required, .required {
    color: #f4140a;
    font-family: $font-lato;
    font-size: 12px; font-size: 1.2rem;
  }

  /* End of global styles */

  .page-title {

    h1 {
      text-transform: uppercase;
      border-bottom: 2px solid #454f48;
      padding-bottom: 10px;
    }

  }

  #login-form {

    .col {

      @include breakpoint(tablet-and-up) {
        @include make-sm-column(6);
        display: block;
        input[type="text"], input[type="password"] {
          max-width: 100% !important;
        }
      }

      @include breakpoint(laptop-and-up) {
        @include make-md-column(6);
      }

    }

    .new-users {

      .content {

        /* New Customers */
        h2 {
          color: #40a80b;
          font-family: $font-montserrat;
          font-size: 16px; font-size: 1.6rem;
          font-weight: bold;
          letter-spacing: -1px;
        }

        /* Only when new customers section is below the first element */
        .new-customers-h2  {
          border-top: 2px solid #cccccc;
          margin-top: 30px;
          padding-top: 10px;
        }

        /* Account signup info */
        p {
          margin-top: 0;
        }

      }

      /* Container for create account button */
      .buttons-set {

        button {
          height: 52px;
          width: 218px;
          float: right;
        }

      }

      @include breakpoint(tablet-and-up) {
        float: left;
      }

    }
    .registered-users {

      .content {

        /* Registered Customers */
        h2 {
          color: #40a80b;
          font-family: $font-montserrat;
          font-size: 16px; font-size: 1.6rem;
          font-weight: bold;
          letter-spacing: -1px;
        }

        /* Customer login info*/
        p {
          margin-top: 0;

        }

        /* ul form list for login*/
        .form-list {
          list-style: none;
          padding-left: 0;

          /* Container for form fields */
          li {

            label {

            }

            /* required label */
            .required {

            }

            .input-box {

              /* Input field */
              input {
                border: 1px solid #cccccc;
                border-bottom: 0;
                width: 100%;
                // max-width: 280px; // so it doesn't look weird on a tablet.
                height: 52px;
                padding-left: 20px;
                padding-right: 20px;
                font {
                  family: $font-lato;
                  size: 16px; size: 1.6rem;
                }
              }

              .validation-failed {
                border: 1px dashed rgb(244,91,88) !important;
                background-color: rgb(255,221,218);
              }

              .validation-advice {
                @extend .validation-required;
                margin-bottom: 10px;

                .arrow-up {
                  font-size: 10px;
                  @extend .icon;
                  @extend .icon-ArrowUpIcon;
                }
              }

            }

          }

          /* Removes overlapping bottom since we need 1px between inputs */
          li:last-of-type .input-box input {
            border-bottom: 1px solid #ccc;
          }

        }

        /* Key text for "* Required Fields" after the form at the bottom */
        .required-fields {
          @extend .validation-required;

        }

      }

      .buttons-set {

        /* Forgot password link */
        a {

        }

        button {
          height: 52px;
          width: 92px;
          float: right;
          margin-top: -15px;
        }

      }

      @include breakpoint(tablet-and-up) {
        float: right;
      }

    }

  }

  /* Width and positioning of the form on the page */
  @include breakpoint(tablet-and-up) {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    margin: auto;
  }

  @include breakpoint(laptop-and-up) {
    @include make-md-column(8);
    @include make-md-column-offset(2);
    margin: auto;
  }

}