/** 
*
* Main Navigation SASS Rules
* @Author: Rafael, Steven
* @Desc: Customized SASS declarations for Main Navigation using mobile-first approach
*
*
**/

#magento-nav {
	background-color: $mobile-bg-color;
	position: absolute;
	left: -100%;
	z-index: 300;
	border-top: 1px solid #bbcc00;

	/* Tablets and Desktop 768px and up */
	@include breakpoint(tablet-and-up) {
		position: relative;
		left: 0;
	}

	// Global color for all links
	a {
		color: white;
	}

	// Global Rule for all <ul>
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	/* Mobile Menu Only */
	&.show-menu {
		@include transition(0.3s ease);
		width: 50%;
		left: 0;

		// First child instance of <ul> element
		ul.top-level {

			// Top level categories
			> li.level0 {
				background-color: #99a700;
				border-bottom: 1px solid #bbcc00;
				position: relative;
				width: 100%;

				// Parent list elements with children categories
				&.parent {
					&:before {
						content: "";
						position: absolute;
						right: 20px;
						top: 18px;
						width: 12px;
						height: 12px;
						background:url(../img/oaSprites.png) 0 0;
						background-repeat: no-repeat;
					}
				}

				// Active parent menu items
				&.active {
					background-color: #454f48;
					border-bottom: 1px solid #CCC;
					
					& > a {
						font-weight: bold;
					}
				}

				a {
					display: block;
					padding: 15px 20px;
				}

				/*Top Parent's Children - Subcategories level0*/
				> div.sub-menu-wrapper {
					padding: 0;
					background-color: #a4bdac;
					width: 100%;
					display: none;
		
					> ul {
						position: relative;
						padding-left: 0;

						li.level1 {

							&.parent {
								&:before {
									content: "";
									position: absolute;
									right: 20px;
									width: 12px;
									height: 12px;
									background: url(../img/oaSprites.png) 0 0;
									background-repeat: no-repeat;
									margin-top: 18px;
								}
							}
							> div.sub-menu-wrapper {
								display: none;
								background-color: #d0ddd4;

								li.level2 {
									border-bottom: 1px solid #CCC;
								}
							}
						}

						/*Subcategories Children */
						> li {
							list-style: none;
							background-color: transparent;
							border-bottom: 1px solid #cccccc;
							@include breakpoint(tablet-and-up) {
								border-bottom: none;
							}

							a {
								&:hover{
									text-decoration: none;
								}

								color: #454f48;
							}

							// Hide 3rd level category elements on mobile menu only
							ul {
								//display: none;
							}
							// Secondary Categories active item
							&.active {
								a {
									font-weight: bold;
								}
							}
						}
					}
				}
			}
		}
	}

	// Tablet and Desktop Rules Only
	& > ul.top-level {
		@include breakpoint(tablet-and-up) {
			@include oa-resp-wrapper();
		
			> li {
				&.level0 {
					display: inline-block;
					height: 100%;

					& > a {
						display: block;
						padding: 15px 20px;

						&:hover {
							color: #454f48;
							text-shadow:0 0 .5px black;
						}
					}
				}

				> .sub-menu-wrapper {
					position: absolute;
					display: none;
					width: auto;
					background-color: #CCC;
					padding: 10px;

					@media only screen and (min-width: 768px) and (max-width: 992px) {
						top: 97px;
					}

					ul {
						&.level0 {
							display: table-cell;
							clear: both;
							max-width: 625px;

							li {
								&.level1 {
									display: inline-table;
									margin: 5px 15px 20px;
									width: 120px;

									> a {
										padding: 10px 0px;
										font-weight: bold;
										font-size: 16px;

										&:hover {
											color: #40A80B;
										}
									}

									ul {
										&.level1 {
											li {
												&.level2 {
													margin: 7px 0px;

													a {
														&:hover {
															color: #40A80B;
															text-decoration: underline;
														}
													}
												}
											}
										}
									}
								}
							}
						}

						// Global rule for all sub-cat menu items
						li {
							a {
								color: #454f48;
								padding: 5px 0px;
							}
						}
					}
				}

				&.show-mega {
					@media only screen and (min-width: 992px) {
						// CSS3 Down Arrow
						&:before, &:after {
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							border-top: 10px solid #99a700;
							bottom: -8px;
							content: '';
							margin-left: 30px;
							position: absolute;
						}
					}

					& > a {
						color: #454f48;
						text-shadow:0 0 .5px black;
					}

					> .sub-menu-wrapper {
						-webkit-box-shadow: 4px 3px 5px 0px rgba(50, 50, 50, 0.5);
						-moz-box-shadow:    4px 3px 5px 0px rgba(50, 50, 50, 0.5);
						box-shadow:         4px 3px 5px 0px rgba(50, 50, 50, 0.5);
						display: block;
					}


				}
			}
		}
	}

}

body,html {
	width: 100%;
	height: 100%;
}
.mobile-menu-active{
	position: fixed;
	z-index: 200;
	width: 100%;
	height: 100%;
	background-color: #000000;
	@include opacity(0.8);
	top: 0px;
}