/**
*
* Messages SASS Rules
* @Author: Nabil
* @Desc: Customized SASS declarations for messages
*
**/

.messages {
  font-family: $font-lato;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 20px auto 10px;
  padding-left: 0;
  text-align: center;
  list-style: none;

  .success-msg {
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #c7d9b8;
    padding: 1em;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  // Neutral message
  .notice-msg {
    color: #454f48;
    background: rgb(220, 220, 220);
    border: 1px solid #bbb;
    padding: 1em;

    ul {
      list-style: none;
    }
  }

  .error-msg {
    // display: none;  // I don't know why this was "display none". I removed this because errors weren't being shown... (edited by Nabil)
    color: rgb(244, 20, 10);
    background: rgb(255, 210, 200);
    border: 1px dashed #f45b58;
    padding: 1em;

    ul {
      list-style: none;
    }
  }
}