body.checkout-multishipping-addresses , body.checkout-multishipping-address-newshipping, body.checkout-multishipping-shipping, body.checkout-multishipping-billing, body.checkout-multishipping-overview, body.checkout-multishipping-success > div.wrapper{
  .placeholder {
    // For placeholder polyfill
    color: #000000;
  }
  input {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  ::-webkit-input-placeholder {
   color: #000000;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #000000;
     opacity: 1;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #000000;
     opacity: 1;
  }

  :-ms-input-placeholder {
     color: #000000;
  }
  //Remove List Stylings
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
    &.messages {
      clear: both;
    }
  }
  button[title=Search] {
    padding: 0 !important;
  }
  h1 {
    color: #454f48;
    font-family: $font-montserrat;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    border-bottom: 2px solid #454f48;
    text-align: center;
    margin-bottom: 20px;
  }
  h2 {
    //color: rgb(64, 168, 11);
    color: rgb(80, 89, 83);
    font-family: $font-montserrat;
    font-size: 12px; font-size: 1.2rem;
    font-weight: bold;
    //line-height: 28px;
  }
  h3 {
    color: #40a80b;
    font-family: $font-montserrat;
    font-size: 48px; font-size: 4.8rem;
    font-weight: bold;
    letter-spacing: -1px;
  }
  h4 {
    font-family: $font-montserrat;
    font-size: 15px; font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }
  h5 {
    color: #454f48;
    color: #000000;
    color: #9c9c9c;
    font-family: $font-lato;
    font-size: 12px; font-size: 1.2rem;
  }
  //All Form generalizations
  input {
    border: 1px solid $lig-gr;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    &[type='checkbox'] {
      width: initial;
      height: initial;
    }
    &.qty {
      width: 2em;
      height: 2em;
      padding: 0;
      text-align: center;
    }
  }
  label[for=primary_billing], label[for=primary_shipping] {
    font-family: $font-montserrat;
    //color: rgb(153, 153, 153);
    color: $cor-gr;
  }
  //Required text
  p.required {
    //color: rgb(243, 109, 107);
    color: $sca-re;
    float: right;
  }
  p.back-link > a {
    text-decoration: none;
    //color: rgb(92, 179, 48);
    color: $kel-gr;
    font-weight: normal;
  }
  /*//Form Select
  .selectricWrapper {
    width: 100%;
  }*/
  .selectric {
    height: 41px;
    @include breakpoint(phone-and-up) {
      height: 50px;
      border: 1px solid $lig-gr;
    }
    background: #ffffff;
    .oa-select-arrow {
      left: inherit;
      right: 0px;
      height: 100%;
      border: none;
    }
    .label {
      //color: rgb(169, 169, 169);
      //color: $ske-gr;
    }
  }

  /*//Table
  table {
    //table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
  }*/

  //Add new address and other buttons
  div.wrapper {
    button {
      //background-color: rgb(64, 168, 11);
      background-color: $kel-gr;
      border: none;
      padding: 15px;
      width: 100%;
      span {
        color: #ffffff;
        text-transform: uppercase;
        font-family: $font-montserrat;
        font-size: 16px; font-size: 1.6rem;
      }
      &[title='Save Address'] {
        width: 50%;
        float: right;
        max-width: 200px;
        min-width: 157px;
      }
    }
  }

  div.buttons-set {
    p.required {
      width: 100%;
      text-align: right;
    }
    p.back-link {
      display: inline;
    }
  }

  //Shipping information
  div.col2-set {
    font-family: $font-montserrat;
    border: 2px solid #cccccc;
    border-top: 2px solid #40a80b;
    margin-bottom: 5%;
    > div {
      margin: 0 5%;
    }
    h2.legend {
      border-bottom: 2px solid #cccccc;
      margin: auto;
      padding: 5%;
      @include breakpoint(phone-and-up) {
        padding: 3%;
      }
      @include breakpoint(tablet-and-up) {
        padding: 2%;
      }
    }
    h3.shipping, h3, h2, h4 {
      font-size: 14px; font-size: 1.4rem;
      color: #000000;
      .separator {
        color: #cccccc;
        padding: 0 1px;
      }
      a {
        color: #40a80b;
      }
    }
    address {
      font-family: $font-lato;
      font-weight: normal;
      font-style: normal;
      line-height: 16px;
      line-height: 1.6rem;
      //color: rgb(93, 97, 94);
      color: $cor-gr;
    }
    table {
      background-color: #ffffff;
      width: 100%;
      box-shadow: 0px 0px 4px #a3a3a3;
      margin-bottom: 5%;
      th {
        border-bottom: 2px solid #cccccc;
        text-align: left;
        &.a-center {
          width: 20%;
        }
      }
      td {
        .last {
          text-align: center;
        }
      }
    }
  }
  //Shipping Methods
  div.box-sp-methods {//, div.box { REMOVED FOR SAFER, ISOLATED STYLES
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #a3a3a3;
    padding: 0 5%;
    h3 {
      font-weight: bold;
      padding: 3% 0;
      color: #40a80b;
    }
    img {
      position: absolute;
      top: -22px;
      right: -27px;
    }
  }
  dl.sp-methods {
    font-family: $font-montserrat;
    margin-top: 0;
    padding-bottom: 5%;
    dt {
      color: #000000;
      padding: 10px 0px 3px 0px;
    }
    dd.shipping-methods, dt.payment-methods {
      margin: 0;
      color: $cor-gr;
      font-size: 13px; font-size: 1.3rem;
      input[type=radio] {
        width: initial;
        height: initial;
      }
      span.price {
        float: none;
        display: inline;
        width: initial;
        height: initial;
        border-right: none;
      }

      li {
        //display: table-cell;
        padding-bottom: 5px;
      }
      /* Radio buttons to be converted to checkboxes for reviews. */
      label {
        //margin-left: 6px;
        background-color: #ffffff;
        color: #ffffff;
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 10px;
        border: 2px solid #cccccc;
        width: 16px;
        height: 16px;
        vertical-align: middle;
      }

      input[type=radio] {
        display: none;
      }

      label:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        margin-top: -10px;
        span {
          color: #cccccc;
        }
      }

      input[type=radio]:checked + label:before, .single-check {
        @extend .icon;
        @extend .icon-Check;
        text-align: center;
        font-size: 10px; font-size: 1.0rem;
        font-weight: normal;
        line-height: 20px;
        background-color: #40a80b;
      }
    }
  }

  div.validation-advice {
    color: #f4140b;
  }

  @include breakpoint(phone-and-up) {
    div.customer-name, li.fields {
      width: 100%;
      height: 50px;
      margin-bottom: 15px;
      > div.field {
        width: 49%;
        display: inline-block;
        float: left;
        &.left, &.name-firstname {
          margin-right: 1%;
        }
        &.right, &.name-lastname {
          margin-left: 1%;
        }
      }
    }

    li.wide {
      margin: 15px 0;
    }
    // Added by nabil
    li.fields {
      clear: both;
    }
  }
  @include breakpoint(phone-and-up) {
    div.page-title {
      clear: left;
      padding-top: 1px;
      h1 {
        text-align: left;
      }
    }
  }
  select.styled-select {
    background: transparent;
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    padding-left: 11px;
    font-size: 14px;
    line-height: 1;
    border: 1px solid $lig-gr;
    border-radius: 0;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYpJREFUeNqsVbFOwzAQjRMGxn4CCIaO7R+QAakbZGNM/iD5A/oF8AfkD1K2VgxhZWpWJAQZGTOywTvJSO5xNnabk6xaufN7Pb+7s7q8WnxHuzZgnT49rodoBAP+BD8fWBPze4zVsVgKaKPxrOWkxEnEqc7StBn+6d0I2RLGTLjRNNZXmgnnShy8PoCUzpaCKyPOhHbvr2/92fRcYXvBghb4voH/M5CUsmywjplrCdKaNoodoGCeJdVA6ltsupha4YpXwMjM4jKtwOq53lgheku69ho7EokdeufIJPfIlmJym67mB+UAeBBccwB0Dl23gqv41dWasZE5BdaCq9EaSro2QnwtkVqJtVXCcDmx3ESjfbwoKxt4YnOghb7QSi/Y3rC2mFLrwf+ss70VdB20rr0NX3kOAukaU2MkSsW0cuGqgNFXerbTPUir/4JUwDTaCv3JrQPp3AcvDhgM0mPyZ/j7gnkTO4aLdUi4LAkZ/o7HZGnr14M1djwmO8Pf1472fG4Lo9CKfQB+BBgAeGqPldMbjNoAAAAASUVORK5CYII=) no-repeat right;
    background-size: 17px;
    background-position: right 4px center;
    background-color: #ffffff;
  }

  //////////////////////////////////////////
  // Custom Radio/Checkbox - Added by Nabil
  //
  // To look for code I modified just look
  // for "nabil", I added it to all comments
  //////////////////////////////////////////
    .custom-checkbox-label {
      background-color: #ffffff;
      color: #ffffff;
      display: inline-block;
      position: relative;
      cursor: pointer;
      padding: 10px;
      border: 1px solid #cccccc;
      width: 22px;
      height: 22px;
      margin-right: 15px;

      span {
        display: block;
        width: 250px;
        margin-left: 15px;
        margin-top: -9px;
      }

    }

    .custom-checkbox-label:before {
      content: "";
      color: #fff;
      display: inline-block;
      font-size: 20px;
      width: 22px;
      height: 22px;
      position: absolute;
      left: 0;
      margin-top: -10px;
    }

    .custom-checkbox:checked + .custom-checkbox-label:before {
      @extend .icon;
      @extend .icon-Check;
      text-align: center;
      font-size: 11px; font-size: 1.1rem;
      font-weight: normal;
      line-height: 20px;
      background-color: #40a80b;
    }

    .custom-checkbox {
        display: none;
    }
  //////////////////////////////////////////
  // End of Nabil's custom checkbox
  //////////////////////////////////////////

} //Body

//Individual page adjustment
body.checkout-multishipping-address-newshipping {
  div.buttons-set {
    font-family: $font-montserrat;
    font-weight: normal;
  }
  input, select {
    font-weight: normal;
  }
  .selectricWrapper {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    .selectric {
      height: 100%;
      border: 1px solid $lig-gr;
      p.label {
        height: 100%;
        padding-left: 15px;
        padding-top: 8px;
      }
    }
  }
  h2.legend {
    color: $kel-gr;
    font-size: 14px; font-size: 1.4rem;
  }
  li.top-control {
    padding-top: 10px;
    margin-bottom: 5px; // nabil added this
  }
  @include breakpoint(phone-and-up) {
    .selectric .label {
      height: 100%;
    }
    li.control > label[for=primary_shipping] {
      // border-bottom: 2px solid $lig-gr; //nabil disabled
      // padding-bottom: 20px; //nabil disabled
    }
    // Nabil Added
    li.control:last-of-type {
      border-bottom: 2px solid $lig-gr;
      padding-bottom: 20px;
    }
    // End of what I added

  }
  @include breakpoint(tablet-and-up) {
    div.main {
      padding: 0 10%;
    }
  }
  /* Radio buttons to be converted to checkboxes for reviews. */
  li.control > label > input[type=checkbox] {
    display: none;
  }
  li.control > label {
    display: block;
    padding-bottom: 3px;
  }
  li.control > label > img {
    display: inline-block;
    padding: 0px;
    height: 20px;
    width: 20px;
    background: #ffffff;
  }

  li.control > label > input:checked + img {
    background: url(../img/check_mark_2.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:30px 30px;
  }
  select.styled-select {
    background: transparent;
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    padding-left: 11px;
    font-size: 14px;
    line-height: 1;
    border: 1px solid $lig-gr;
    border-radius: 0;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYpJREFUeNqsVbFOwzAQjRMGxn4CCIaO7R+QAakbZGNM/iD5A/oF8AfkD1K2VgxhZWpWJAQZGTOywTvJSO5xNnabk6xaufN7Pb+7s7q8WnxHuzZgnT49rodoBAP+BD8fWBPze4zVsVgKaKPxrOWkxEnEqc7StBn+6d0I2RLGTLjRNNZXmgnnShy8PoCUzpaCKyPOhHbvr2/92fRcYXvBghb4voH/M5CUsmywjplrCdKaNoodoGCeJdVA6ltsupha4YpXwMjM4jKtwOq53lgheku69ho7EokdeufIJPfIlmJym67mB+UAeBBccwB0Dl23gqv41dWasZE5BdaCq9EaSro2QnwtkVqJtVXCcDmx3ESjfbwoKxt4YnOghb7QSi/Y3rC2mFLrwf+ss70VdB20rr0NX3kOAukaU2MkSsW0cuGqgNFXerbTPUir/4JUwDTaCv3JrQPp3AcvDhgM0mPyZ/j7gnkTO4aLdUi4LAkZ/o7HZGnr14M1djwmO8Pf1472fG4Lo9CKfQB+BBgAeGqPldMbjNoAAAAASUVORK5CYII=) no-repeat right;
    background-size: 17px;
    background-position: right 4px center;
    background-color: #ffffff;
  }
}

body.checkout-multishipping-addresses {
  div.buttons-set {
    font-family: $font-montserrat;
    font-weight: normal;
    margin-bottom: 20px;
    p.back-link {
      display: block;
    }
  }
  @include breakpoint(phone-and-up) {
    div.page-title {
      padding-top: 10px;
      h1 {
        width: 50%;
        display: inline-block;
        border: none;
      }
      button {
        display: inline;
        width: 45%;
        float: right;
        max-width: 250px;
      }
      //height: 65px;
      border-bottom: 2px solid #454f48;
    }
    div.button-underline {
      width: 100%;
      display: inline-block;
      border-bottom: 2px solid $lig-gr;
      > button {
        width: 40%;
        float: right;
        margin-bottom: 15px;
      }
    }
    div.buttons-set {
      padding-top: 10px;
      clear: right;
      > p.back-link {
        display: inline-block;
      }
      > button {
        width: 40%;
        float: right;
      }
    }
  }
}
body.checkout-multishipping-shipping {
  h3.shipping {
    margin-bottom: 0;
  }
  table {
    th {
      border-top: 2px solid $kel-gr;
      &.a-center {
        border-left: 2px solid $lig-gr;
      }
    }
    td {
      padding: 0 1%;
      > h3.product-name {
        > a {
          color: #000000;
        }
        color: #000000;
      }
      &.a-center {
        border-left: 2px solid $lig-gr;
        text-align: center;
      }
    }
    tr {
      border-bottom: 2px solid $lig-gr;
      &.last {
        border-bottom: none;
      }
    }
  }
  @include breakpoint(phone-and-up) {
    div.page-title {
      > h1 {
        padding-bottom: 5px;
      }
    }
    div.col2-set {
      width: 100%;
      display: inline-block;
      div.col-1 {
        float: left;
        width: 40%;
        margin: 0;
        padding-left: 15px;
        > div.box-sp-methods {
          margin-top: 30px;
        }
      }
      div.col-2 {
        float: left;
        width: 55%;
        margin: 0;
        padding-right: 15px;
        margin-left: 5%;
      }
    }
    @include breakpoint(tablet-and-up) {
      div.buttons-set {
        padding-top: 15px;
        border-top: 2px solid $lig-gr;
        > p.back-link {
          display: inline-block !important;
        }
        > button {
          width: 40%;
          float: right;
          min-width: 350px;
        }
      }
    }
  }
}

body.checkout-multishipping-billing {
  div.multiple-checkout {
    font-family: $font-montserrat;
  }
  input, div.selectric {
    height: 50px;
    .label {
      color: #000000;
    }
  }
  .selectricWrapper {
    width: 100%;
  }
  .tool-tip-content {
    overflow: hidden;
  }
  @include breakpoint(phone-and-up) {
    div.col2-set {
      width: 100%;
      display: inline-block;
      div.col-1 {
        float: left;
        width: 40%;
        margin: 0;
        padding-left: 15px;
        > div.box-sp-methods {
          margin-top: 30px;
        }
      }
      div.col-2 {
        float: left;
        width: 55%;
        margin: 0;
        padding-right: 15px;
        margin-left: 5%;
      }
    }
    @include breakpoint(tablet-and-up) {
      div.buttons-set {
        padding-top: 15px;
        border-top: 2px solid $lig-gr;
        > p.back-link {
          display: inline-block !important;
        }
        > button {
          width: 40%;
          float: right;
        }
      }
    }
  }
}

body.checkout-multishipping-overview {
  div.col2-set {
    > h3 {
      padding-left: 5%;
      @include breakpoint(tablet-and-up) {
        padding-left: 15px;
      }
    }
    div.divider {
      margin: 0;
      width: 100%;
      border-bottom: 2px dotted $lig-gr;
      @include breakpoint(tablet-and-up) {
        clear: both;
      }
    }
    span.price {
      display: inline;
      float: none;
      width: 100%;
      height: 100%;
      border-right: none;
    }
    div.col-2 , .col-wide {
      padding-bottom: 10px;
    }
  }
  div.box-content {
    //color: $ske-gr;
    > table {
      background-color: inherit !important;
      box-shadow: none !important;
      text-align: left;
      font-size: 13px; font-size: 1.3rem;
      th {
        border-bottom: none !important;
      }
    }
  }
  div.grand-total {
    @include breakpoint(tablet-and-up) {
      float: right;
    }
    > div.inner {
      text-align: center;
      @include breakpoint(tablet-and-up){
        float: right;
      }
      > big {
        font-family: $font-montserrat;
        span.price {
          color: $kel-gr;
          display: inline;
          float: none;
          width: 100%;
          height: 100%;
          border-right: none;
        }
      }
      div {
        margin-top: 10px;
      }
    }
    margin-bottom: 15px;
  }
  div.buttons-set {
    clear: both;
    @include breakpoint(tablet-and-up) {
      padding-top: 20px;
    }
    > p.back-link {
      display: block;
    }
  }
  table.data-table {
    thead > tr.first {
      border-top: 2px solid $kel-gr;
      th {
        border-right: 2px solid $lig-gr;
        &.last {
          border-right: none;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 2px solid $lig-gr;
        a {
          color: #000000;
        }
      }
      td {
        border-right: 2px solid $lig-gr;
        > h3.product-name {
          padding-left: 5%;
        }
        &.last {
          border-right: none;
        }
        &.a-center {
          text-align: center;
        }
        > div.cart-price {
          text-align: right;
        }
      }
    }
    tfoot {
      margin-top: 10px;
      td.a-right {
        text-align: right;
        &.last {
          padding-left: 15px;
        }
      }
      tr {
        //margin: 10px 0px;
      }
      tr.last {
        strong {
          font-weight: normal;
        }
        > td.last > strong > span.price {
          color: $kel-gr;
        }
      }
    }
  }
  div.place-order {
    text-align: center;
  }
  span.please-wait {
    font-family: $font-montserrat;
  }

  @include breakpoint(tablet-and-up) {
    div.col2-set {
      width: 100%;
      display: inline-block;
      div.col-1 {
        float: left;
        width: 40%;
        margin: 0;
        padding-left: 15px;
        > div.box-sp-methods {
          margin-top: 30px;
        }
      }

      div.col-2 {
        float: left;
        width: 55%;
        margin: 0;
        padding-right: 15px;
        margin-left: 5%;
      }
    }
    div.inner {
      width: 100%;
      display: inline-block;
      @include breakpoint(tablet-and-up) {
        width: 68%;
        max-width: 440px;
        min-width: 400px;
      }
      big {
        width: 50%;
        float: left;
        padding-top: 23px;
      }
      > div {
        width: 50%;
        float: right;
      }
    }
    span.please-wait {
      display: block;
      clear: both;
    }
  }
}

body.checkout-multishipping-success {
  div.page-title {
    clear: both;
    padding-top: 10px;
    h1 {
      color: #454f48;
      font-family: $font-montserrat;
      font-size: 20px; font-size: 2.0rem;
      font-weight: bold;
      letter-spacing: -1px;
      text-transform: uppercase;
      border-bottom: 2px solid #454f48;
      text-align: center;
      margin-bottom: 20px;
      @include breakpoint(phone-and-up) {
        text-align: left;
      }
    }
  }
  h2.sub-title {
    font-size: 16px; font-size: 1.6rem;
    color: $kel-gr !important;
  }
  div.multiple-checkout {
    a {
      color: $kel-gr;
    }
  }
  div.wrapper {
    button {
      //background-color: rgb(64, 168, 11);
      background-color: $kel-gr;
      border: none;
      padding: 15px;
      width: 100%;
      span {
        color: #ffffff;
        text-transform: uppercase;
        font-family: $font-montserrat;
        font-size: 16px; font-size: 1.6rem;
      }
      @include breakpoint(tablet-and-up) {
        width: 40%;
        margin-left: 60%;
      }
    }
  }
}
//End Individual page adjustment

//Multi-Address Checkout State
#checkout-progress-state {
  margin-top: 15px;
  text-align: center;
  font-family: $font-montserrat;
  //color: rgb(204, 204, 204);
  color: $lig-gr;
  list-style: none;
  padding: 0;
  @include breakpoint(phone-and-up) {
    div {
      float: left;
      width: 20%;
      padding: 0 0.5%;
    }
  }
  @include breakpoint(tablet-and-up) {
    padding: 0 5%;
  }
  li.active {
    span {
      //color: rgb(64, 168, 11);
      color: $kel-gr;
    }
  }
  //Progress tracking bar
  .progress-tracker {
    width: 100%;
    height: 10px;
    display: block;
    //background-color: rgb(204, 204, 204);
    background-color: $lig-gr;
    &.active {
      //background-color: rgb(64, 168, 11);
      background-color: $kel-gr;
    }
  }
}

//Multi-Address Table
#multiship-addresses-table {
  //border-collapse: initial;
  //border: 2px solid #cccccc;
  font-family: $font-montserrat;
  text-align: left;
  border-top: 2px solid #40a80b;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px #a3a3a3;
  margin-bottom: 15px;
  td {
    border-right: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    vertical-align: middle;
    &.last {
      border-right: 0;
    }
  }
  th {
    //color: rgb(69, 79, 72);
    font-size: 13px; font-size: 1.3rem;
    color: $cor-gr;
    border-right: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    &.left-table-border {
      border-right: 0;
    }
  }
  h3.product-name {
    font-size: 12px; font-size: 1.2rem;
    a {
      color: #000000;
    }
  }
  //Trash Can remove
  .remove-icon {
    @extend .icon;
    @extend .icon-TrashCan;
  }

  /// Column width adjustments for responsiveness
  th {
    &.product-name {

    }
    &.quantity {

    }
    &.address {

    }
    &.trash-bin {

    }
  }
  td {
    padding: 1%;
    text-align: center;
    &.product-name {
      //width: 20%;
    }
    &.quantity {
      //width: 20%;
    }
    &.address {
      //width: 20%;
      margin: 0;
      padding: 0 1%;
    }
    &.trash-bin {
      //width: 20%;
      a {
        //background-color: rgb(142, 163, 149);
        background-color: $ske-gr;
        color: #ffffff;
        padding: 6px 10px;
      }
    }
  }
  /// Column width adjustments for responsiveness

  //Selectric for multi address select
  //AMAZING Except IE SElect
  //http://bavotasan.com/2011/style-select-box-using-only-css/
  div.selectricWrapper {
    width: 12rem;
    //width: 100%;
    margin: 0 auto;
  }
  select.styled-select {
    background: transparent;
    width: 100%;
    padding: 5px;
    padding-right: 30px;
    padding-left: 11px;
    font-size: 14px;
    line-height: 1;
    border: 1px solid $lig-gr;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYpJREFUeNqsVbFOwzAQjRMGxn4CCIaO7R+QAakbZGNM/iD5A/oF8AfkD1K2VgxhZWpWJAQZGTOywTvJSO5xNnabk6xaufN7Pb+7s7q8WnxHuzZgnT49rodoBAP+BD8fWBPze4zVsVgKaKPxrOWkxEnEqc7StBn+6d0I2RLGTLjRNNZXmgnnShy8PoCUzpaCKyPOhHbvr2/92fRcYXvBghb4voH/M5CUsmywjplrCdKaNoodoGCeJdVA6ltsupha4YpXwMjM4jKtwOq53lgheku69ho7EokdeufIJPfIlmJym67mB+UAeBBccwB0Dl23gqv41dWasZE5BdaCq9EaSro2QnwtkVqJtVXCcDmx3ESjfbwoKxt4YnOghb7QSi/Y3rC2mFLrwf+ss70VdB20rr0NX3kOAukaU2MkSsW0cuGqgNFXerbTPUir/4JUwDTaCv3JrQPp3AcvDhgM0mPyZ/j7gnkTO4aLdUi4LAkZ/o7HZGnr14M1djwmO8Pf1472fG4Lo9CKfQB+BBgAeGqPldMbjNoAAAAASUVORK5CYII=) no-repeat right;
    background-size: 17px;
    background-position: right 4px center;
  }
  @-moz-document url-prefix() {
    select {
      -moz-appearance: window;
      text-indent: 10px;
      text-overflow: '';
    }
  }
}

//One off rules
body.checkout-multishipping-shipping {
  p.back-link {
    display: block !important;
  }
}
body.checkout-multishipping-billing {
  h2.payment-method {
    color: #40a80b !important;
  }
  div.verification-box {
    display: inline;
  }
  form#multishipping-billing-form {
    div.box {
      box-shadow: none;
      background-color: #f2f2f2;
    }
    dd.payment-details {
      margin: 0;
    }
    input.cvv {
      width: 30%;
    }
    a.cvv-what-is-this {
      color: #40a80b;
    }
  }
  div.selectricWrapper {
    margin: 0;
  }
  div.selectric {
    border: 1px solid #cccccc;
    padding-left: 10px;
    font-weight: bold;
  }
  p.back-link {
    display: block !important;
  }
}