/**
*
* Pager SASS Rules
* @Author: Rafael
* @Author: Nabil
* @Desc: Customized SASS declarations for pager
*
**/

.pager {

}

.amount {

}

.limiter {

}

.pages {

	.v-middle {

	}

	.first {

	}

	.previous_jump {

	}

	.current {

	}

	.next_jump {

	}

	.last {

	}


}