.page-print {
		font-size: 16px;
		font-size: 1.6rem;

		h1, h2 {
			font-size: 18px;
			margin-bottom: 0;
		}

		h2 {
			text-transform: uppercase;
		}

		p {
			margin-top: 0;
		}

		.order-date {
			padding-bottom: 10px;
			border-bottom: 2px solid #CCC;
			margin-bottom: 0px;
		}

		> div {
			@extend .wrapper;
		}

		.col-1, .col-2 {
			width: 50%;
			float: left;

			address {
				font-style: normal;
			}
		}

		.data-table {
			width: 100%;
			

			thead {
				border-bottom: 2px solid #CCC;
			}

			th {
				padding: 10px 0;
				text-transform: uppercase;
				text-align: right;

				&:first-child {
					text-align: left;
				}
			}

			tbody {
				td {
					font-size: 16px;
					font-size: 1.6rem;
				}
				
				> tr {
					border-bottom: 2px solid #CCC;

					&.first > td {
						padding: 10px 0;
						text-align: right;

						&:first-child {
							text-align: left;
						}

						h3 {
							font-family: "Lato", Helvetica, Arial, sans-serif;
							font-size: 16px;
							font-size: 1.6rem;
							text-transform: none;
							font-weight: normal;
							margin: 0;
						}
					}
				}
			}	

			tfoot {
				.first {
					> td {
						padding-top: 10px
					}
				}

				.last {
					> td {
						padding-bottom: 10px
					}

					strong {
						font-size: 18px;
						text-transform: uppercase;
					}
				}
			}
		}

		.buttons-set {
			padding-top: 20px;
			border-top: 2px solid #CCC;

			.button {
				float: right;
				font-family: "Montserrat", Helvetica, Arial, sans-serif;
				font-size: 16px;
				font-size: 1.6rem;
				font-weight: bold;
				letter-spacing: -1px;
				text-transform: uppercase;
				padding: 15px 20px;
				color: white;
				border: none;
				background-color: $kel-gr;

				@media print {
					display: none;
				}
			}
		}

		.price {
			border-right: none;
			float: none;
			display: inline;
		}
	
}