/**
*
* Shopping Cart Page SASS Rules
* @Author: Nabil Jamaleddine, Norman Francis
* @Desc: Customized SASS declarations for the shopping cart page
*
**/

.oa-cart-container {
  ul.messages ul {
    padding: 0;
  }
  /* Global Shopping Cart Page Styles */
  h1, h3, h4 {
    font-family: $font-montserrat;
  }

  h2, h5, h6 {
    font-family: $font-lato;
  }

  h1 {
    color: #454f48;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2 {
    color: #40a80b;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: $font-montserrat;
    font-size: 16px; font-size: 1.6rem;
  }

  h4 {
    font-size: 15px; font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 12px; font-size: 1.2rem;
  }

  h6 {
    color: #000000;
    font-size: 14px; font-size: 1.4rem;
  }

  p {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }

  a {
    color: #40a80b;
    font-family: $font-lato;
    text-decoration: none;
  }

  .button {
    background: $skeptic-green;
    border: 0;
    color: #ffffff;
    display: inline;
    font-family: $font-montserrat;
    font-size: 16px; font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 100%;
    max-width: 240px;
    height: 52px;
  }

  .validation-required {
    color: #f4140a;
    font-family: $font-lato;
    font-size: 12px; font-size: 1.2rem;
  }

  .input-texttype-field {
    background-color: #fff;
    border: 1px solid #cccccc;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font {
      family: $font-lato;
      size: 16px; size: 1.6rem;

    }

  }

  /* Selectric select box custom page rules */
  .selectricWrapper {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 30px;
    width: 100%;
    margin-bottom: 0px;

    .selectric {
      background: none;
      border: 0;

      p {
        padding-left: 10px;
        height: 100%;
        line-height: 18px;
      }
      .oa-select-arrow {
        height: 28px;
        left: inherit;
        line-height: 30px;
        right: 0;
        border-left: 0;
      }

    }

    .selectricItems {
      ul {

        li {
          font-family: $font-lato;
          font-size: 14px; font-size: 1.4rem;
          padding: 10px;
          margin-bottom: 0 !important;

          .selected {
            font-family: $font-lato;
            font-size: 14px; font-size: 1.4rem;
            padding-left: 10px;
          }

        }

      }

    }
  }
  /* End of global styles */

  .page-title {

    h1 {
      text-transform: uppercase;
      padding-bottom: 10px;
      border-bottom: 2px solid #454f48;

      /* Only show the bottom border on mobile*/
      @include breakpoint(tablet-and-up) {
        border-bottom: 0;
      }

    }

    .checkout-types {
      float: none;
      list-style: none;
      margin-top: 0;
      padding-left: 0;
      width: 100%;
      text-align: center;
      margin: auto;
      max-width: 300px;
      margin-bottom: 15px;

      li {
        width: 100%;

        button {
          background-color: $kelly-green;
          width: 100%;
          height: 52px;
          @include breakpoint(tablet-and-up) {
            margin-top: -55px;
            float: right;
          }
        }

      }

      @include breakpoint(tablet-and-up) {
        text-align: left;
        float: right;

        li {
          float: right;
          text-align: right;

          button {
            max-width: 240px;
            height: 52px;
          }
        }
      }

    }

  }

  /* Shopping cart form */
  form {
    @include clearfix();
    margin-top: 20px;

    fieldset {
      border: 0;
      background-color: #fff;
      border-top: 2px solid $kelly-green;
      box-shadow: 0px 0px 8px #a3a3a3;
      margin-bottom: 20px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto 20px auto;
      padding: 0; // Make table take up whole width of fieldset

      @include breakpoint(tablet-and-up) {
        max-width: none;
      }

      #shopping-cart-table {
        width: 100%;
        height: 100%;
        border: 0;

        /* Table Headings */
        colgroup {
          display: none;

          @include breakpoint(tablet-and-up) {
            display: table-column-group;
          }
        }

        thead {
          display: none;

          @include breakpoint(tablet-and-up) {
            display: table-header-group;
          }

          tr {
            border: 0;
            font-family: $font-montserrat;
            font-size: 15px; font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: -1px;


            th {
              text-align: center;
              border: 2px solid #ccc;
              border-top: 0;
              padding: 10px;

              &:first-of-type {
                border-left: 0;
              }
              &:last-of-type {
                border-right: 0;
              }

              // No break for span containing table header text
              .nobr {
                white-space: nowrap;
              }

            }

          }

        }

        /* Items inside the table (not heading) */
        tbody {

          tr {
            border: 0;
            border-bottom: 1px solid #CCC;
            // display: block;

            @include breakpoint(tablet-and-up) {
              display: table-row;
            }

            td {
              display: block;
              border-top: 0;
              padding: 20px 45px;
              text-align: center;
              font-family: $font-lato;

              &:first-of-type, &:last-of-type {
                border-left: 0;
              }

              .product-name {
                text-align: left;
              }

              a {
                margin: auto;

                /* Image of the product */
                img {
                  box-shadow: 0px 0px 8px #a3a3a3;
                  width: 100%;
                  height: auto;
                }

              }

              /* Options container to edit item in cart (mobile) */
              .qty-mobile-label {
                display: none;
              }

              @include breakpoint(tablet-and-up) {
                padding: 10px;
                display: table-cell;
                border: 2px solid #ccc;

                .product-name {
                  text-align: center;
                }

                &:first-of-type, &:nth-of-type(2) {
                  width: 190px;

                  a {

                    /* Tablet and up rules for image */
                    img {
                      max-width: 120px;
                    }

                  }
                }
                &:nth-of-type(3) {
                  width: 86px
                }
                &:nth-of-type(4) {
                  width: 100px;
                }

              }

              @media only screen and (max-width: $screen-xs-max) {
                clear: left;
                padding: 10px 15px;

                .product-name {

                  &:before {
                    color: #000;
                    content: "Product Name: ";
                    font-size: 14px;
                    font-size: 1.4rem;
                    font-weight: bold;
                  }

                }

                .cart-price .price {
                  &:before {
                    color: #000;
                    content: "Price: ";
                    font-size: 14px;
                    font-size: 1.4rem;
                    font-weight: bold;
                  }
                }

                &.edit, &.remove {
                  display: inline-block;
                  clear: none;
                  float: left;
                  width: 50%;

                  > a {
                    display: block;
                    max-width: none;

                    &:before {
                      content: "EDIT";
                      font-size: 16px;
                      font-size: 1.6rem;
                    }

                    > span {
                      display: none;
                    }
                  }
                }

                &.edit {
                  padding-right: 5px;

                  > a:before {
                    content: "EDIT";
                  }
                }

                &.remove {
                  overflow: hidden;
                  padding-left: 0;

                  > a:before {
                    content: "REMOVE ITEM";
                  }
                }

                &.quantity {
                  text-align: left;

                  .qty-mobile-label {
                    display: inline-block;
                    font-weight: bold;
                    color: #000;
                  }
                }
              }

              .item-options {
                clear: both;
                text-align: center;
                border-top: 2px solid #ccc;
                border-bottom: 2px solid #ccc;
                margin-bottom: 5px;
                padding: 5px 0 5px 0;

                dt, dd {
                  display: inline-block;
                }

                /* Button to edit product */
                .btn-edit {
                  @extend .button;
                  width: 33%;
                  max-width: 120px;
                  display: inline-block;
                  text-align: center;
                  line-height: 52px;

                  span {
                    @extend .icon;
                    @extend .icon-Eraser;
                    font-size: 25px;
                    padding: 5px 8px;
                  }

                }

                /* Button to remove product */
                .btn-remove {
                  @extend .button;
                  width: 65%;
                  max-width: 216px;
                  display: inline-block;
                  text-align: center;
                  line-height: 52px;

                  span {
                    @extend .icon;
                    @extend .icon-TrashCan;
                    font-size: 25px;
                    padding: 5px 10px;
                  }

                }
              }

              /* Desktop rules in table view for buttons */
              /* Button to edit product */
              .btn-edit {
                @extend .button;
                text-align: center;
                display: inline;
                font-size: 30px;

                span {
                  @extend .icon;
                  @extend .icon-Eraser;
                  font-size: 25px;
                  padding: 5px 8px;
                }

              }

              /* Button to remove product */
              .btn-remove {
                @extend .button;
                display: inline;
                font-size: 30px;

                span {
                  @extend .icon;
                  @extend .icon-TrashCan;
                  font-size: 25px;
                  padding: 5px 10px;
                }

              }

              h2 {
                font-family: $font-lato;
                font-size: 14px; font-size: 1.4rem;
                margin: 0;
                padding: 0;

                a {
                  color: #454f48;

                }

              }

              /* Input text field for quantity (desktop rules) */
              .qty {
                border: 2px solid #ccc;
                width: 40px;
                height: 40px;
                text-align: center;
                font-weight: bold;
                color: #000;
              }

              .cart-price {
                text-align: left;
                display: inline;

                .price {
                  border-right: 0px;
                  font-weight: bold;
                  color: #000;
                  height: 0;
                  float: none;
                  display: inline-block;
                  width: 100%;
                }

                 @include breakpoint(tablet-and-up) {
                  text-align: center;
                 }

              }

            }

            .desktop {
              display: none !important;

              @include breakpoint(tablet-and-up) {
                display: table-cell !important;
              }
            }

            .mobile {
              @include breakpoint(tablet-and-up) {
                display: none;
              }
            }

            .last {
              @media only screen and (max-width: $screen-xs-max) {
                .cart-price .price {
                  &:before {
                    color: #000;
                    content: "Subtotal: ";
                    font-size: 14px;
                    font-size: 1.4rem;
                    font-weight: bold;
                  }
                }
              }
            }

          }

        }

      }

    }

    .button {

    }

    .btn-continue, .btn-update {
      display: block;
      position: relative;
      margin: 0 auto;
      max-width: 340px;
      width: 100%;

      @include breakpoint(tablet-and-up) {
        display: inline-block;
        max-width: 240px;
      }
    }
    /* Continue Shopping button */
    .btn-continue {
      margin-bottom: 5px;

      @include breakpoint(tablet-and-up) {
        float: left;
      }

    }

    /* Update Shopping cart button */
    .btn-update {
      margin-bottom: 20px;

      @include breakpoint(tablet-and-up) {
        float: right;
      }
    }

  }

  /* Shopping cart discount, estimated shipping/tax, etc boxes. */
  .cart-collaterals {
    margin-top: -20px;

    .col2-set {

      .col-2 {

        /* Form for the discount coupon */
        #discount-coupon-form {
          border: 0;
          background-color: #fff;
          border-top: 2px solid $kelly-green;
          box-shadow: 0px 0px 8px #a3a3a3;
          margin-bottom: 20px;
          padding: 10px;
          max-width: 400px;
          margin: 20px auto;

          .discount {

            h2 {
              margin: 10px 0 5px 0;
            }

            .discount-form {

              label {
                margin-bottom: 20px;
                display: block;
              }

              .input-box {
                margin-bottom: 20px;

                /* Textfield for coupon code */
                .input-text {
                  @extend .input-texttype-field;
                  width: 100%;
                }

                .validation-failed {
                  border: 1px dashed rgb(244,91,88);
                  background-color: rgb(255,221,218) !important;
                }

                .validation-advice {
                  color: #f4140a;
                  font-size: 12px;
                  font-size: 1.2rem;
                  font-family: $font-lato;
                  margin-bottom: 10px;

                  .arrow-up {
                    font-size: 10px;
                    @extend .icon;
                    @extend .icon-ArrowUpIcon;
                  }
                }

              }

            }

          }

          .buttons-set {
            text-align: center;

            button {
              max-width: 400px;
              width: 100%;
            }

            @include breakpoint(tablet-and-up) {

              button {
                height: 40px;
              }

            }

            @include breakpoint(desktop-and-up) {
              button {
                max-width: 160px;
              }
            }

          }

          @include breakpoint(tablet-and-up) {
            width: 32%; // Sometimes bootstrap just doesn't work.
            float: left;
            margin-right: 2%;
            margin-top: -15px;
            max-width: none;
          }

        }

        /* Shipping form */
        .shipping {
          border: 0;
          background-color: #fff;
          border-top: 2px solid $kelly-green;
          box-shadow: 0px 0px 8px #a3a3a3;
          margin-bottom: 20px;
          padding: 10px;
          max-width: 400px;
          margin: 20px auto;

          h2 {
            margin: 10px 0 5px 0;
          }

          .shipping-form {

            form {

              p {

              }

              .form-list {
                list-style: none;
                padding-left: 0;

                li {
                  display: block;
                  margin-bottom: 10px;

                  label {
                    font-weight: bold;
                    font-family: $font-lato;
                    font-size: 14px;
                    font-size: 1.4rem;
                    display: block;
                    padding-bottom: 10px;

                    .required {
                      color: #f4140b;
                      font-size: 14px;
                      font-size: 1.4rem;
                    }

                    .required-fields-label {
                      color: #f4140b;
                      font-weight: normal;
                      font-family: $font-lato;
                      font-size: 12px;
                      font-size: 1.2rem;
                      margin-left: 15px;
                      float: right;

                      .required {
                        font-size: 14px;
                        font-size: 1.4rem;
                        font-weight: bold;
                      }
                    }
                  }

                  .input-box {

                    input {
                      @extend .input-texttype-field;
                    }

                    select {
                      @extend .input-texttype-field;
                    }

                    .validation-failed {
                      border: 1px dashed rgb(244,91,88);
                      background-color: rgb(255,221,218) !important;
                    }

                    .validation-advice {
                      @extend .validation-required;
                      margin-bottom: 10px;

                      .arrow-up {
                        font-size: 10px;
                        @extend .icon;
                        @extend .icon-ArrowUpIcon;
                      }
                    }

                  }

                }

              }

              .buttons-set {
                text-align: center;

                button {

                }

                @include breakpoint(tablet-and-up) {

                  button {
                    max-width: 160px;
                    height: 40px;
                  }

                }

              }

              dl {

                dt {

                }

                dd {
                  margin: 0;

                  ul {
                    list-style: none;
                    padding: 0;

                    li {
                      padding-bottom: 25px;

                      .custom-checkbox-label {
                        background-color: #ffffff;
                        color: #ffffff;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        padding: 10px;
                        margin-right: 15px;
                        width: 100%;
                        min-height: 35px; // ridiculous but the words are long
                      }

                      .custom-checkbox-label:before  {
                        content: "";
                        color: #fff;
                        display: inline-block;
                        font-size: 20px;
                        width: 22px;
                        height: 22px;
                        position: absolute;
                        left: 0;
                        margin-top: -10px;
                        background: #fff;
                        border: 1px solid #ccc;
                      }

                      // .custom-checkbox-label {
                      //   background-color: #ffffff;
                      //   color: #ffffff;
                      //   display: inline-block;
                      //   position: relative;
                      //   cursor: pointer;
                      //   padding: 10px;
                      //   border: 1px solid #cccccc;
                      //   width: 22px;
                      //   height:22px;
                      //   margin-right: 15px;

                      // }

                      // .custom-checkbox-label:before {
                      //   content: "";
                      //   color: #fff;
                      //   display: inline-block;
                      //   font-size: 20px;
                      //   width: 22px;
                      //   height: 22px;
                      //   position: absolute;
                      //   left: 0;
                      //   margin-top: -10px;
                      // }

                      .custom-checkbox[type=radio]:checked + .custom-checkbox-label:before {
                        @extend .icon;
                        @extend .icon-Check;
                        text-align: center;
                        font-size: 10px; font-size: 1.0rem;
                        font-weight: normal;
                        line-height: 20px;
                        background-color: #40a80b;
                      }

                      input[type=radio] {
                          display: none;
                      }

                      label {
                        display: block;
                        background: none;
                        position: relative;
                        cursor: pointer;
                        padding: 10px;
                        border: 0;
                        width: 100%;
                        margin-right: 15px;

                        .inner-label-text {
                          color: #454f48;
                          // width: 200px;
                          // margin-left: 20px;
                          // margin-top: -10px;
                          position: absolute;
                          display: block;
                          margin: -15px 25px;
                          width: 100%;
                          padding-right: 35px;
                        }

                        .price {
                          border-right: 0;
                          display: inline-block;
                          float: none;
                          width: 100%;
                          padding-left: 0px;
                        }

                      }

                    }

                  }

                }

              }

            }

          }

          @include breakpoint(tablet-and-up) {
            width: 32%;
            float: left;
            margin-right: 2%;
            margin-top: -15px;
            max-width: none;
          }

        }

      }

    }

    /* Total price container for the cart */
    .totals {
      max-width: 400px;
      margin: 20px auto;

      .table-container {
        padding: 20px 10px 20px 10px; // Make table take up whole width of fieldset
        background-color: #fff;
        border-top: 2px solid $kelly-green;
        box-shadow: 0px 0px 8px #a3a3a3;
        margin-bottom: 20px;

        #shopping-cart-totals-table {
          border: 0;
          width: 100%;
          text-align: right;

          tfoot {

            tr {
              font-family: $font-montserrat;

              td {
                // right align for price cell
                &:nth-of-type(2) {
                  display: inline-block;
                }

                .price {
                  display: inline-block;
                  margin-left: 30px;
                  border-right: 0px;
                }

              }

            }

          }

          tbody {

            tr {
              font-family: $font-lato;

              td {
                &:first-of-type {
                  width: 60%;
                }
                // right align for price cell
                &:nth-of-type(2) {
                  display: inline-block;
                }

                .price {
                  display: inline-block;
                  margin-left: 30px;
                  border-right: 0px;
                }

              }

            }

          }

        }

      }


      .checkout-types {
        float: right;
        list-style: none;
        margin-top: 0;
        padding-left: 0;
        width: 100%;
        text-align: center;
        margin: auto;
        max-width: 300px;
        float: none;

        li {
          width: 100%;

          button {
            background-color: $kelly-green;
            margin-bottom: 20px;
            width: 100%;
            height: 52px;
            @include breakpoint(tablet-and-up) {
              float: right;
            }
          }

        }

        @include breakpoint(tablet-and-up) {
          float: right;
          text-align: left;

          li {
            float: right;
            text-align: right;

            button {
              max-width: 240px;
              height: 52px;
            }
          }
        }

      }

      @include breakpoint(tablet-and-up) {
        width: 32%;
        float: left;
        margin-top: -15px;
        max-width: none;
      }

    }

    @include breakpoint(tablet-and-up) {
      margin-top: 20px;
    }

  }

  /* Width and positioning of the form on the page */
  @include breakpoint(tablet-and-up) {
    @include make-sm-column(12);
    margin: auto;
  }

  @include breakpoint(laptop-and-up) {
    @include make-md-column(12);
    margin: auto;
  }
}