/**
*
* Shopping Cart Empty Page SASS Rules
* @Author: Nabil Jamaleddine
* @Desc: Customized SASS declarations for the shopping cart empty page
*
**/

.oa-cart-container-empty {
  /* Global Shopping Cart Page Styles */
  h1, h3, h4 {
    font-family: $font-montserrat;
  }

  h2, h5, h6 {
    font-family: $font-lato;
  }

  h1 {
    color: #454f48;
    font-size: 20px; font-size: 2.0rem;
    font-weight: bold;
    letter-spacing: -1px;
  }

  h2 {
    color: #40a80b;
    font-weight: bold;
    letter-spacing: -1px;
    font-family: $font-montserrat;
    font-size: 16px; font-size: 1.6rem;
  }

  p {
    color: #454f48;
    font-family: $font-lato;
    font-size: 14px; font-size: 1.4rem;
  }

  a {
    color: #40a80b;
    font-family: $font-lato;
    text-decoration: none;
  }

  /* End of global styles */

  .page-title {

    h1 {
      text-transform: uppercase;
      border-bottom: 2px solid #454f48;
      padding-bottom: 10px;
    }

    .checkout-types {
      list-style: none;
      padding-left: 0;

      li {
        .button {
          background-color: #40a80b;
        }

      }

    }

  }

  .cart-empty {
    margin-bottom: 200px; //This is just to push the page down, not necessary if we have a footer solution.

    p {
      font-weight: bold;
      margin: 0;

      &:first-of-type {
        margin-top: 20px;
      }
    }

  }

  /* Width and positioning of the form on the page */
  @include breakpoint(tablet-and-up) {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
    margin: auto;
  }

  @include breakpoint(laptop-and-up) {
    @include make-md-column(8);
    @include make-md-column-offset(2);
    margin: auto;
  }

}