/** 
*
* Featured Products Masonry Rules
* @Author: Norm
* @Desc: Customized SASS declarations for featured products masonry
*
**/

$scarlet-red: #f4140b;
$tangerine-orange: #e39b00;
$kelly-green: #40a80b;
$cor-gr: #454f48;
$box-shadow-color: #a3a3a3;;
$price-tag-dotted-border: #919191;;

$color-savings: $kelly-green;
$color-sale: $scarlet-red;
$color-new: $tangerine-orange;

.featured-product-tags {
	display: table;
	float: left;
	width: 11%;
	height: 100%;
	z-index: 1;

	&.tags-lg {
		.carousel &, .products-grid & {
			position: absolute;
			width: 100px;
			height: auto;

			.tag-savings {
				display: block;
			}

			.tag-sale, .tag-new {
				display: inline-block;
				float: left;
				width: 50%;
			}
		}

		.product-tag {
			float: none;
			height: auto;
			padding: 5px;
		}

		position: absolute;
		padding-top: 20px;
		@media (min-width: $screen-sm) {
			height: auto;
			width: 33%;

			.tag-savings {
				display: block;
			}

			.tag-sale, .tag-new {
				display: inline-block;
				float: left;
				width: 50%;
			}
		}

		.featured-product-tags-inner {
			@media (min-width: $screen-sm) and  (max-width: $screen-md) {
				display: block;
			}
		}
	}

	@media (min-width: $screen-sm) and  (max-width: $screen-md) {
		display: block;
		float: none;
		width: 100%;
		height: auto;
		text-align: center;
	}


	.featured-product-tags-inner {
		display: table-cell;
		vertical-align: middle;

		@media (min-width: $screen-sm) and (max-width: $screen-md) {
			display: inline-block;
		}
	}
}

.product-tag {
	font-family: "Montserrat", sans-serif;
	font-size: 1.2rem;
	color: #FFF;

	text-transform: capitalize;
	text-align: center;

	display: block;
	padding: 5px;

	@media (min-width: $screen-sm) and (max-width: $screen-md) {
		display: inline-block;
		float: left;

		height: 28px;
		padding: 5px 10px 10px 10px;
	}
}

.tag-savings {
	font-size: 1.4rem;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 14px;
	background-color: $kelly-green;
}

.tag-sale, .tag-new {
	@media (min-width: $screen-sm) and (max-width: $screen-md) {
		height: 23px;
		padding-top: 2px;
	}
}

.tag-sale {
	background-color: $scarlet-red;
}

.tag-new {
	background-color: $tangerine-orange;
}