/** 
*
* Top Links SASS Rules
* @Author: Rafael, Nabil
* @Desc: Customized SASS declarations for Top Links
*        - Using Mobile-First approach
*        - See _globals.scss for all variable definitions
**/
.top-links {
  /* Mobile and Tablet Portrait */
  position: absolute;
  right: 3%;
  height: 100%;

  /* Tablets -- 768px and up */
  @include breakpoint(tablet-and-up) {
    right: 3%;
    display: block;
    height: 38px;
    bottom: 20px;
    
  }
  ul{
    display: list-item;
  }

  .links {
    margin: 0;
    padding: 0;
    float: right !important;
    height: 100%;
    width: 100%;
    list-style: none;
    
    @include breakpoint(tablet-and-up) {
      height: 100%;
    }
    li {
      float:left;
      display: block;
      height: 100%;

      @include breakpoint(tablet-and-up) {
        margin-left: 20px; 
      }

      &.active-search, &.active-account {
        background-color: $desktop-bg-color;
      }
      &#responsive-search-trigger, &#responsive-account-trigger {
        /* Tablets -- 768px and up */ 
        @include breakpoint(tablet-and-up) {
          display:none;
        }
      }
      &.my-account{
        display: none;
        @include breakpoint(tablet-and-up) {
          display: block;
        }
      }
      
      &.log-in,
      &.log-out{
        display:none;
        position: relative;

        @include breakpoint(tablet-and-up){
          text-align: right;
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: 0px 17px;
          display: block;
          width: 80px;
        }

        > img {
          position: absolute;
          left: 0;
          
        }
      }

      &.log-in{
        width: 69px;

        > img {
          top: 17px;
          width: 18px;
        }
      }
      &.log-out{

        > img {
          top: 15px;
          width: 15px;
        }
      }

      a {
        display: block;
        font-size: 35px;
        margin: 5px 2px 0px;
        text-decoration: none !important;

        @include breakpoint(tablet-and-up){
          color:#bbcc00;
          font-size: 27px;
        }
        &:hover{
          color: #ffffff;
          text-decoration: none !important;

          @include breakpoint(tablet-and-up) {
            color:#bbcc00;
          }
        }
        &.icon-SearchIcon:before {
          font-family: $font-oaShopIcon;
          content: "\e605";
        }

        &.icon-MyAccountIcon:before {
          font-family: $font-oaShopIcon;
          content: "\e607";
          color: #ffffff;

          @include breakpoint(tablet-and-up) {
            vertical-align: middle;
            color: #bbcc00;
          }
          
        }
        &.top-link-cart:before {
          font-family: $font-oaShopIcon;
          content: "\e604";
          @include breakpoint(tablet-and-up) {
            vertical-align: middle;
          }
        }

        span{
          display:none;
          @include breakpoint(tablet-and-up) {
            width: 100px;
            vertical-align: middle;
            display: inline;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.form-language {
  display: none;
}