.my-wishlist {
	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
	}

	table {
		width: 100%;
		margin-bottom: 30px;

		background-color: white;
		box-shadow: 0px 0px 8px #a3a3a3;
	}

	td, th {
		padding: 10px;
		border: 2px solid #CCC;
	}

	tr td:first-child {
		text-align: center;
		vertical-align: top;

		@media (min-width: $screen-md) and (max-width: $screen-md-max) {
			width: 90px;
		}

		img {
			max-width: 100%;
			height: auto;
		}
	}

	th {
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-size: 15px;
		font-size: 1.5rem;
		font-weight: bold;
		letter-spacing: -1px;

		border-top: 2px solid #40a80b;

		&.product-info-th {
			width: 180px;

			@media (max-width: $screen-sm-max) {
				display: none;
			}
		}

		&.cart-th {
			text-align: center;
		}
	}

	td {
		&.product-info-td {
			vertical-align: top;
			
			@media (max-width: $screen-sm-max) {
				display: none;
			}
		}

		&.last {
			text-align: center;
			vertical-align: top;
		}
	}

	.product-name {
		margin-top: 0;

		a {
			font-size: 18px;
			font-size: 1.8rem;
			color: black;
			font-weight: bold;
		}
	}

	.description {
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		margin-bottom: 10px;
	}

	textarea {
		font-family: 'Lato', Helvetica, Arial, sans-serif;
		width: 100%;
		max-width: 100%;
	}


	.cart-cell {
		text-align: center;

		.price {
			display: block;
			float: none;

			width: auto;
			height: auto;

			font-family: 'Lato', Helvetica, Arial, sans-serif;
			font-size: 16px;
			font-size: 1.6rem;
			font-weight: bold;
			color: #40a80b;

			border: 0;
			margin-bottom: 20px;
		}

		.qty {
			display: block;
			width: 40px;
			height: 40px;

			font-family: 'Lato', Helvetica, Arial, sans-serif;
			text-align: center;
			font-weight: bold;
			color: #000;

			border: 1px solid #ccc;
			margin: 0 auto 20px auto;
		}

		button {
			width: 90px;
		}

		.link-edit {
			color: #40a80b;
		}
	}

	.btn-remove {
		display: inline-block;
		font-size: 25px;
		padding: 5px 10px;
		background-color: #a4bdac;
		color: white;

		&:before {
			@extend .icon;
			@extend .icon-TrashCan;
		}
	}

	button {
		height: auto !important;
		background-color: #40a80b;
		border: 0;
		padding: 10px 15px;
		color: white;
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-size: 1.6rem;
		font-weight: bold;
		letter-spacing: -1px;
		text-transform: uppercase;
	}

	.buttons-set.buttons-set2 {
		@extend .clearfix;
		text-align: center;

		button {
			width: auto;

			margin-top: 0;
			margin-right: 15px;

			&:first-child {
				margin-right: 0;
			}

			@media (max-width: ($screen-xs + 50px) ) {
				float: none;
				display: block;
				margin: 0 auto 10px auto !important;
				width: 100%;
			}

			@media (min-width: $screen-sm) and (max-width: $screen-md-max) {
				float: none;
				display: block;
				margin: 0 auto 10px auto !important;
				width: 100%;
			}
		}
	}

}