.short-description {
	.std {
		// All images responsive
		img {
			max-width: 100%;
		}
		// Reset all h tags
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #000000;
		}

		h1 {
			font-size: 3.5rem;
		}
		h2 {
			font-size: 3rem;
		}
		h3 {
			font-size: 2.5rem;
		}
		h4 {
			font-size: 2rem;
		}
		h5 {
			font-size: 1.5rem;
		}
		h6 {
			font-size: 1rem;
		}

		p {
			margin: 5px 0px;
		}

		ul {
			margin: 3px 0px 3px 18px;
			padding: 0;

			li {
				margin: 2px 0px;
				padding: 2px;
			}
		}

		br {
			line-height: 150%;
			display: none;
		}
	}
}

#tab-description {
	// All images responsive
	img {
		max-width: 100%;
	}
	// Reset all h tags
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #000000;
	}

	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		font-size: 2.5rem;
	}
	h4 {
		font-size: 2rem;
	}
	h5 {
		font-size: 1.5rem;
	}
	h6 {
		font-size: 1rem;
	}

	p {
		margin: 5px 0px;
	}

	ul {
		margin: 3px 0px 3px 18px;
		padding: 0;

		li {
			margin: 2px 0px;
			padding: 2px;
		}
	}

	br {
		line-height: 150%;
		display: none;
	}
}