<?php
/**
*		Best Sellers Product Widget Template
*
*		http://www.forum2tech.com/discussion/39/how-to-create-widget-in-magento-bestsellers-widget-for-displaying-bestsellers-product-on-home-page/p1
*
*		http://www.magentocommerce.com/boards/viewthread/14764/P15/
*/
?>
<?php $_products = $this->getProducts(); ?>
<?php $_categoryTitle = $this->getTitle(); ?>
<?php $productCount = count($_products); ?>
<div id="product-carousel" class="widget widget-bestsellers"><?php echo $this->__("$_categoryTitle"); ?></div>
<?php if($productCount > 0): ?>
<?php echo "<h2>$productCount</h2>"; ?>

<?php foreach($_products as $_product): ?>
<h2><?php echo $this->stripTags($_product->getName(), null, true); ?></h2>
<?php endforeach; ?>
</div>
<?php endif; ?>